#instructions
  %ul
    %li Shift + click: highlight links
    %li ALT + Shift + click: hide converter
    %li= link_to 'highlight off', 'javascript:GRAPH.highlight_off_all()'

    %li Double-click on converter to open details in new converter
    %li Search for converters using id (with #) using Ctrl+F. For low ids, finish search with a ".", e.g. #30.
    %li= graphviz_attribute_selector
    %li= graphviz_toggle_sectors

  :javascript
    var data_json_url = "#{data_layout_path(:format => 'json')}";

= render 'initialize_graph'

