- if import_in_progress?
  .span6.alert.alert-error
    %h3(style="font-size: 16px")
      Import in progress!
    A new ETSource commit is already being imported. Refresh this page in a
    minute to see the changes, and import another new version if you wish.

- if can_import?
  %section#search_box
    .row
      .span6
        .well
          = form_tag etsource_commits_path, :method => :get, :class => 'form-inline', :style => 'margin-bottom: 13px' do
            = select_tag :branch, options_for_select(@branches, @branch)
            = submit_tag "Checkout", :class => 'btn'
            = submit_tag "Refresh", :class => 'btn btn-primary'
          Click "Checkout" to move to a different branch.
      - if can_import?
        .span6.alert.alert-info
          %h3(style="font-size: 16px")
            %a(style="color: #3a87ad" href="https://www.youtube.com/watch?v=gT9xuXQjxMM") Careful now!
          The page may appear to hang after you click an "import" button. This
          is normal, and <em>definitely</em> not a sign that the world is about
          to end. During this time the Atlas and Refinery calculations are being
          re-run for each region.
    - if @output
      .row
        %pre.git_output= @output

.row
  .span16
    - require_newer_than = Time.parse('2013-11-13 14:42:00 +0000')

    - if APP_CONFIG[:etsource_export] == APP_CONFIG[:etsource_working_copy]
      %strong Looks like you're loading etsource from the local working copy
    - else
      %h4(style="margin-bottom: 20px")
        Latest import:
        %a.latest-import{ href: "#rev-#{ @etsource.get_latest_import_sha }" } #{@etsource.get_latest_import_sha || 'N/A'}

    - @commits.group_by { |com| com.gcommit.date.to_date }.each do |date, commits|
      .commit-group
        %h4= date.to_formatted_s(:long)
        - commits.each do |commit|
          .commit{ id: "rev-#{ commit.to_s }" }
            .action
              - if @etsource.get_latest_import_sha == commit.sha
                .current ✓ &nbsp;Loaded
              - elsif import_in_progress?
                .wait Please wait&hellip;
              - else
                - cache("etsource.status.#{ commit.sha }") do
                  - if commit.gcommit.date >= require_newer_than && commit.can_import?
                    %a.import{ href: import_etsource_commit_path(:id => commit.to_s) } Import
                  - else
                    .incompatible(title="Incompatible due to non-matching dependencies") Incompatible
            - cache("etsource.info.#{ commit.sha }") do
              = render partial: 'commit', locals: { commit: commit.gcommit }
