
%script
  // create Gquery objects for the gqueries we will test later.
  - Gquery.all.reject{|g| g.unit == 'converters'}.each do |gquery|
    == var #{gquery.key} = new Gquery({id : '#{gquery.id}', key: '#{gquery.key}'});

= form_for [:admin, @gql_test_case] do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :instruction
    = f.text_area :instruction
  %p
    = f.label :description
    = f.text_area :description
  %p
    = f.submit


:javascript
  // This simply outputs the test cases for all the Gquery Objects
  // It is now called after the JSON request
  function create_tests() {
    var test_suite = "";
    window.gqueries.each(function(gquery) {
      var str = "matches('"+gquery.get('key')+"', "+gquery.get('present_value')+", "+gquery.get('future_value')+",1);\n"
      test_suite = test_suite + str
    })
    $('#gql_test_case_instruction').val(test_suite);
  };
  // Make an API call. When complete runs the test-suites
  load_queries(create_tests);
