- breadcrumb 'Scenarios'
%section#search_box
  = form_tag data_scenarios_path, :method => :get do
    = search_field_tag :q, params[:q], :placeholder => 'search'
    = check_box_tag :in_start_menu, 1, params[:in_start_menu]
    In start menu
    = check_box_tag :protected, 1, params[:protected]
    Protected
    = submit_tag "search"

=link_to "create new scenario", new_data_scenario_path

%table
  %thead
    %tr
      %th{:colspan => 8} Scenario count: #{Scenario.count}
    %tr
      %th Id
      %th Title
      %th End Year
      %th Country
      %th Region
      %th In start menu
      %th Protected
      %th
  %tfoot
    %tr
      %td{:colspan => 8}= paginate @scenarios
  %tbody
    - @scenarios.each do |s|
      %tr
        %td= link_to s.id, data_scenario_path(:id => s.id)
        %td= s.title
        %td= s.end_year
        %td= s.country
        %td= s.region
        %td= 'V' if s.in_start_menu
        %td= 'V' if s.protected
        %td= link_to 'edit', edit_data_scenario_path(:id => s.id)