%h2 Search for GQL

= form_tag admin_gql_search_path, :method => :get do
  = label_tag "query"
  = text_field_tag :q, @q
  = submit_tag "Search"
  
- if @q
  Searching for
  %strong= @q
  \: #{pluralize(@gqueries.size + @inputs.size, 'result')}

  %h3 Inputs: #{pluralize @inputs.size, 'item'}
  %h3 GQueries: #{pluralize @gqueries.size, 'item'}

- if @gqueries.any?
  %h3 GQueries
  %table{table_defaults}
    %thead
      %tr
        %th Id
        %th Key
        %th Query
    %tbody
      - @gqueries.each do |g|
        %tr{cycles}
          %td= g.id
          %td= link_to g.key, data_gquery_path(:id => g.id, :blueprint_id => 'latest', :region_code => 'nl')
          %td= highlight(g.query, @q)
- if @inputs.any?
  %h3 Inputs
  %table{table_defaults}
    %thead
      %tr
        %th Id
        %th Key
        %th Start
        %th Min
        %th Max
    %tbody
      - @inputs.each do |g|
        %tr{cycles}
          %td= g.id
          %td= highlight(g.key, @q)
          %td= highlight(g.start_value_gql, @q)
          %td= highlight(g.min_value_gql, @q)
          %td= highlight(g.max_value_gql, @q)
  
