<% content_for(:page_title, t('.title')) %>
<% content_for(:header) do %>
  <%= render(Login::HeaderComponent.new(
    title: t('.title'),
    subtext: t('.subtitle')
  )) %>
<% end %>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= render(Login::FloatingFieldComponent.new(form: f, name: :email, type: :email, title: t('activerecord.attributes.user.email'), value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), autofocus: true, autocomplete: "email", required: true)) %>
  </div>

  <%= render(Login::ButtonComponent.new(form: f).with_content(t('.submit'))) %>
<% end %>

<%= render "devise/shared/links" %>
