%tr.gem-info
  %td== #{ name.titleize } Info
  %td
    %a.compare{ href: "https://github.com/quintel/#{ name }/compare/#{ commit.sha }...master" }<
      Compare with HEAD
    %a{ href: "https://github.com/quintel/#{ name }/commit/#{ commit.sha }" }<
      %span.version<= commit.sha[0..8]
      &mdash;&nbsp;
      = commit.message.split("\n").first
    %span.date{ title: commit.date }
      == (committed #{ time_ago_in_words(commit.date) } ago)
