= render 'inspect/shared/inspect_subnav'

= button_to "Clear Cache", inspect_clear_cache_path(api_scenario_id: params[:api_scenario_id]), :confirm =>"Are you sure?", :class => 'btn', method: :post

%h3 System

%table.table.table-condensed
  = render partial: 'git_gem_info', locals: { name: 'atlas',    commit: Etsource::Commit::ATLAS_COMMIT }
  = render partial: 'git_gem_info', locals: { name: 'refinery', commit: Etsource::Commit::REFINERY_COMMIT }
  %tr
    %td Ruby Version
    %td== #{ RUBY_VERSION}-p#{ RUBY_PATCHLEVEL }

%h3{ style: 'border-top: 1px solid #ddd; margin: 2rem 0 1rem; padding: 1rem 0 0;' } Your applications

= render partial: 'staff_application', collection: ETEngine::StaffApplications.all
