<%= content_for(:page_title, t('.title')) %>
<% render partial: 'identity/sidebar' %>

<%= render(Identity::PageHeaderComponent.new(
  title: t('identity.tokens.index.title'),
  message: t('identity.tokens.index.explanation')
)) %>

<%= turbo_frame_tag 'new_personal_access_token' do %>
  <h3 class="text-xl font-semibold mb-8"><%= t('.title') %></h3>

  <%= form_for(@token, url: identity_tokens_path, html: { method: :post, name: 'token' }) do |f| %>
    <%= render(Identity::RowComponent.new(title: t('helpers.label.create_personal_access_token_params.name'))) do |row| %>
      <% row.title_contents do %>
        <%= f.label :name, class: 'block py-1.5' %>
      <% end %>

      <div class="mb-4">
        <%= f.text_field :name, required: false, autofocus: true, autocomplete: 'name', class: "field" %>

        <p class="text-sm text-gray-500 mt-2">
          <%= t('.name_hint') %>
        </p>

        <%= render(FieldErrorsComponent.new(record: @token, attribute: :name)) %>
      </div>
    <% end %>

    <%= render(Identity::RowComponent.new(title: t('helpers.label.create_personal_access_token_params.expires_in'))) do |row| %>
      <% row.title_contents do %>
        <%= f.label :expires_in, class: 'block py-1.5' %>
      <% end %>

      <div class="mb-4" data-controller="select-with-message">
        <%= f.select :expires_in, token_expiration_options(@token.expires_in || 30), {},
          class: 'field w-auto',
          data: {
            action: 'select-with-message#change',
            'select-with-message-target': 'select'
          } %>

        <p class="text-sm text-gray-500 mt-2" data-select-with-message-target="output">&nbsp;</p>
      </div>
    <% end %>

    <div class="-mt-1.5"></div>

    <%= render(Identity::RowComponent.new(title: t('helpers.label.create_personal_access_token_params.permissions'))) do |row| %>
      <% row.title_contents do %>
        <%= f.label :permissions, class: 'block pb-1.5' %>
      <% end %>

      <div class="mb-4">
        <label class="flex mb-3">
          <%= f.radio_button :permissions, :public, class: 'mt-1 mr-3 w-4 h-4' %>
          <div class="flex-grow">
            <span class="font-medium"><%= t('.permissions.public.title') %></span>
            <p class="text-sm text-gray-500 mt-1">
              <%= t('.permissions.public.hint') %>
            </p>
          </div>
        </label>

        <label class="flex mb-3 last:mb-0">
          <%= f.radio_button :permissions, :read, class: 'mt-1 mr-3 w-4 h-4' %>
          <div class="flex-grow">
            <span class="font-medium"><%= t('.permissions.read.title') %></span>
            <p class="text-sm text-gray-500 mt-1">
              <%= t('.permissions.read.hint') %>
            </p>
          </div>
        </label>

        <label class="flex mb-3 last:mb-0">
          <%= f.radio_button :permissions, :write, class: 'mt-1 mr-3 w-4 h-4' %>
          <div class="flex-grow">
            <span class="font-medium"><%= t('.permissions.write.title') %></span>
            <p class="text-sm text-gray-500 mt-1">
              <%= t('.permissions.write.hint') %>
            </p>
          </div>
        </label>

        <label class="flex mb-3 last:mb-0">
          <%= f.radio_button :permissions, :delete, class: 'mt-1 mr-3 w-4 h-4' %>
          <div class="flex-grow">
            <span class="font-medium"><%= t('.permissions.delete.title') %></span>
            <p class="text-sm text-gray-500 mt-1">
              <%= t('.permissions.delete.hint') %>
            </p>
          </div>
        </label>
      </div>

      <div class="border-t h-4"></div>

      <div class="mb-4">
        <label class="flex mb-3">
          <%= f.check_box :email_scope, class: 'mt-1 mr-3 w-4 h-4' %>
          <div class="flex-grow">
            <span class="font-medium"><%= t('.permissions.email.title') %></span>
            <p class="text-sm text-gray-500 mt-1">
              <%= t('.permissions.email.hint') %>
            </p>
          </div>
        </label>
      </div>

      <div class="mb-4">
        <label class="flex mb-3">
          <%= f.check_box :profile_scope, class: 'mt-1 mr-3 w-4 h-4' %>
          <div class="flex-grow">
            <span class="font-medium"><%= t('.permissions.profile.title') %></span>
            <p class="text-sm text-gray-500 mt-1">
              <%= t('.permissions.profile.hint') %>
            </p>
          </div>
        </label>
      </div>
    <% end %>

    <%= render(Identity::RowComponent.new(title: '')) do |row| %>
      <%= f.submit t('identity.tokens.index.create_token'), class: button_classes(color: :success, size: :lg) %>
      <%= link_to t('identity.cancel'), identity_tokens_path, class: button_classes('ml-2', size: :lg) %>
    <% end %>
  <% end %>
<% end %>
