%h2
  ==#{@historic_serie.key}
  %small= link_to 'Edit', edit_data_historic_serie_path(:id => @historic_serie.id)


%pre== Key: #{@historic_serie.key}

%table
  %thead
    %tr
      %th.tal year
      %th.tal value
      %th.tal
  %tbody
    - @historic_serie.year_values.each do |entry|
      %tr
        %td= entry.year
        %td= entry.value
        %td= link_to 'edit', edit_data_year_value_path(entry)
= link_to 'New', new_data_year_value_path
= render '/data/shared/revisions', :versioned => @historic_serie
