<div class="pt-6 mt-8 -mb-2 text-center border-t">
  <%- if controller_name != 'sessions' %>
    <%= render(Login::DeviseFooterLinkComponent.new(path: new_session_path(resource)).with_content(t('devise.links.sign_in'))) %>
  <% end %>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= render(Login::DeviseFooterLinkComponent.new(path: new_registration_path(resource_name)).with_content(t('devise.links.sign_up'))) %>
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= render(Login::DeviseFooterLinkComponent.new(path: new_password_path(resource_name)).with_content(t('devise.links.forgot_password'))) %>
  <% end %>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= render(Login::DeviseFooterLinkComponent.new(path: new_confirmation_path(resource_name)).with_content(t('devise.links.resend_confirmation'))) %>
  <% end %>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= render(Login::DeviseFooterLinkComponent.new(path: new_unlock_path(resource_name)).with_content(t('devise.links.unlock'))) %>
  <% end %>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= render(Login::DeviseFooterLinkComponent.new(path: omniauth_authorize_path(resource_name, provider), method: :post).with_content(t('devise.links.omniauth', kind: OmniAuth::Utils.camelize(provider)))) %>
    <% end %>
  <% end %>
</div>
