<%= turbo_frame_tag application do %>
  <div class="flex items-center border-b pb-6 mb-6">
    <div class="mr-auto text-base font-medium"><%= @application.name %></div>
    <%= button_to oauth_authorized_application_path(@application), class: button_classes('text-sm text-red-600 hover:text-red-700 active:text-red-700'), method: :delete do %>
      <%= inline_svg 'font-awesome/16/trash.svg', class: 'mr-1.5' %>
      <%= t('.revoke_application') %>
    <% end %>
  </div>
<% end %>
