<%= turbo_frame_tag application, class: 'block border-b pb-6 mb-6' do %>
  <div class="flex items-center gap-2">
    <div
      class="
        text-base
        font-medium
        whitespace-nowrap
        overflow-hidden
        text-ellipsis
        max-w-[25rem]
      "
    >
      <%= @application.name %>
    </div>
    <% if @application.uri.present? %>
      <%= link_to @application.uri, class: 'flex flex-shrink-0 items-center gap-1 pt-px', target: '_blank', rel: 'noopener noreferrer' do %>
        <%= t('.visit_website') %>
        <%= inline_svg 'hero/20/external-link.svg', class: '!h-4 !w-4' %>
      <% end %>
    <% end %>
    <%= button_to oauth_authorized_application_path(@application), class: button_classes('text-sm text-red-600 hover:text-red-700 active:text-red-700'), form_class: 'ml-auto flex-shrink-0', method: :delete do %>
      <%= inline_svg 'font-awesome/16/trash.svg', class: 'mr-1.5' %>
      <%= t('.revoke_application') %>
    <% end %>
  </div>

  <details class="text-gray-500">
    <summary class="cursor-pointer"><%= t('.permissions') %></summary>
    <ul class="mt-2 ml-4">
      <% @application.scopes.each do |scope| %>
        <li
          class="
            flex
            whitespace-nowrap
            items-start
            text-emerald-600
            gap-2
            mb-1
            mr-4
            last:mb-0
          "
        >
          <%= inline_svg 'hero/20/check.svg', class: '-ml-1 flex-shrink-0' %>
          <%= t scope, scope: [:doorkeeper, :scopes] %>
        </li>
      <% end %>
    </ul>
  </details>
<% end %>
