<% if @confirmed %>
  <div class="flex flex-grow items-center">
    <%= @email %>
    <span
      class="
        inline-flex
        items-center
        text-emerald-600
        font-medium
        text-sm
        ml-4
      "
    >
      <%= inline_svg_tag("hero/20/circle-check.svg", class: "mr-1") %>
      Verified
    </span>
    <% if @show_change_button %>
      <%= link_to "Change e-mail address…", user_edit_email_path, data: { turbo_frame: :modal }, class: button_classes("text-sm font-normal ml-auto", color: :link, negate_padding: :y) %>
    <% end %>
  </div>
<% else %>
  <div class="flex flex-grow items-center">
    <%= @email %>
    <span
      class="
        inline-flex
        items-center
        text-amber-600
        font-medium
        text-sm
        ml-4
      "
    >
      <%= inline_svg_tag("hero/20/exclamation.svg", class: "mr-1") %>
      Not verified
    </span>
    <% if @show_change_button %>
      <%= link_to "Change e-mail address…", user_edit_email_path, data: { turbo_frame: :modal }, class: button_classes("text-sm font-normal ml-auto", color: :link, negate_padding: :y) %>
    <% end %>
  </div>
  <div class="w-full">
    <div class="text-gray-500 text-sm mt-2 pr-32">
      This e-mail address has not yet been confirmed. Please check your e-mail
      address for instructions.
    </div>
    <%= button_to user_confirmation_path, params: { user: { email: @email } }, method: :post, class: 'text-midnight-600 text-sm mt-2 font-medium inline-flex items-center hover:underline hover:cursor-pointer hover:text-midnight-800' do %>
      Resend confirmation instructions
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 ml-0.5"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M10.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L12.586 11H5a1 1 0 110-2h7.586l-2.293-2.293a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    <% end %>
  </div>
<% end %>
