<%= render(Identity::ProfileRowComponent.new(title: @title)) do |row| %>
  <div class="flex flex-grow items-center">
    <%= @email %>

    <% if @confirmed %>
      <span
        class="
          text-sm
          inline-flex
          items-center
          text-emerald-600
          font-medium
          ml-4
        "
      >
        <%= inline_svg_tag("hero/20/circle-check.svg", class: "mr-1") %>
        <%= t('.confirmed') %>
      </span>
    <% else %>
      <span class="text-sm inline-flex items-center text-red-600 font-medium ml-4">
        <%= inline_svg_tag("hero/20/exclamation.svg", class: "mr-1") %>
        <%= t('.not_confirmed') %>
      </span>
    <% end %>
  </div>

  <% row.message do %>
    <p>
      <% if @confirmed %>
        <%= t('.explanation') %>
      <% else %>
        <%= t('.not_confirmed_message') %>
      <% end %>
    </p>
  <% end %>

  <% if @show_change_button || !@confirmed %>
    <% row.button do %>
      <% unless @confirmed %>
        <%= button_to user_confirmation_path, params: { user: { email: @email } }, method: :post, class: button_classes(color: :default_colored) do %>
          <%= t('.resend_confirmation') %>
        <% end %>
      <% end %>

      <% if @show_change_button %>
        <%= link_to "#{t('.change_address')}…", identity_edit_email_path, data: { turbo_frame: :modal }, class: button_classes(color: :default_colored) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
