<%= turbo_frame_tag(@token, class: 'block border-b pb-12 mb-6 last:border-b-0 last:pb-0 last:mb-0') do %>
  <h3 class="text-xl font-semibold mb-8"><%= @token.name %></h3>

  <div data-controller="clipboard">
    <%= render(Identity::RowComponent.new(title: t('.token'))) do |row| %>
      <% if @show_full_token %>
        <input
          type="text"
          class="
            text-gray-800
            p-0
            ring-0
            border-none
            font-mono
            w-full
            focus:ring-0
          "
          spellcheck="false"
          value="<%= token_string %>"
          readonly
          data-controller="select-contents"
          data-action="click->select-contents#select"
          data-clipboard-target="source"
        />
      <% else %>
        <span class="font-mono select-none">
          <%= token_string %>
        </span>
      <% end %>

      <% if @show_full_token %>
        <p class="mt-2 text-sm text-gray-500 mr-24">
          <span
            class="
              inline-block
              bg-yellow-200
              text-yellow-800
              rounded
              px-1.5
              py-0.5
              -ml-1.5
            "
          >
            <%= t('.token_shown_briefly') %>
          </span>
          <%= t('.make_sure_to_copy') %>
        </p>
        <button
          class="<%= button_classes('text-sm mt-3') %>"
          data-action="clipboard#copy"
          data-clipboard-target="button"
        >
          <%= inline_svg 'hero/20/duplicate.svg', class: 'mr-1' %>
          <%= t('.copy') %>
        </button>
        <span
          class="
            hidden
            inline-flex
            ml-2
            items-center
            gap-1
            text-emerald-600
            font-medium
            text-sm
          "
          data-clipboard-target="notice"
        >
          <%= inline_svg 'hero/20/circle-check.svg' %>
          <%= t('.copied') %>
        </span>
      <% else %>
        <p class="mt-2 text-sm text-gray-500 mr-24">
          <%= t('.full_token_not_shown') %>
        </p>
      <% end %>
    <% end %>
  </div>

  <%= render(Identity::RowComponent.new(title: t('.expires'))) do |row| %>
    <div data-testid="expires">
      <% if @access_token.expires_in.present? %>
        <%= helpers.local_time(@access_token.expires_at, :long) %>
        <span class="text-gray-500 font-normal text-sm ml-2">
          (<%= t('time_from_now', time: time_ago_in_words(@access_token.expires_at)) %>)
        </span>
      <% else %>
        <%= t('identity.tokens.expiration_options.never') %>
      <% end %>
    </div>
  <% end %>

  <%= render(Identity::RowComponent.new(title: t('.last_used'))) do |row| %>
    <div data-testid="last-used">
      <% if @token.last_used_at.present? %>
        <%= helpers.local_time(@token.last_used_at, :long) %>
        <span class="text-gray-500 font-normal text-sm ml-2">
          (<%= t('time_ago', time: time_ago_in_words(@token.last_used_at)) %>)
        </span>
      <% else %>
        <%= t('identity.tokens.expiration_options.never') %>
      <% end %>
    </div>
  <% end %>

  <%= render(Identity::RowComponent.new(title: t('.permissions'))) do |row| %>
    <%= render(Identity::Token::ScopeComponent.new(
        name: t('doorkeeper.scopes.public'),
        enabled: @access_token.includes_scope?('public'),
        testid: 'scope:public'
      )) %>

    <%= render(Identity::Token::ScopeComponent.new(
        name: t('doorkeeper.scopes.scenarios:read'),
        enabled: @access_token.includes_scope?('scenarios:read'),
        testid: 'scope:scenarios:read'
      )) %>

    <%= render(Identity::Token::ScopeComponent.new(
        name: t('doorkeeper.scopes.scenarios:write'),
        enabled: @access_token.includes_scope?('scenarios:write'),
        testid: 'scope:scenarios:write'
      )) %>

    <%= render(Identity::Token::ScopeComponent.new(
        name: t('doorkeeper.scopes.scenarios:delete'),
        enabled: @access_token.includes_scope?('scenarios:delete'),
        testid: 'scope:scenarios:delete'
      )) %>

    <% if @access_token.includes_scope?('email') %>
      <%= render(Identity::Token::ScopeComponent.new(
          name: t('doorkeeper.scopes.email'),
          enabled: true,
          testid: 'scope:email'
        )) %>
    <% end %>

    <% if @access_token.includes_scope?('profile') %>
      <%= render(Identity::Token::ScopeComponent.new(
          name: t('doorkeeper.scopes.profile'),
          enabled: true,
          testid: 'scope:profile'
        )) %>
    <% end %>
  <% end %>

  <%= render(Identity::RowComponent.new(title: 'Revoke')) do |row| %>
    <%= button_to identity_token_path(@token), class: button_classes('text-sm text-red-600 hover:text-red-700 active:text-red-700'), method: :delete do %>
      <%= inline_svg 'font-awesome/16/trash.svg', class: 'mr-1.5' %>
      <%= t('.revoke_token') %>
    <% end %>

    <p class="text-gray-500 text-sm mr-24 mt-3">
      <%= t('.revoke_warning') %>
    </p>
  <% end %>
<% end %>
