- breadcrumb link_to "Energy Balance Groups", data_energy_balance_groups_path
- breadcrumb @energy_balance_group.name

%dl
  %dt Name
  %dd= @energy_balance_group.name
  %dt Colour
  %dd= @energy_balance_group.graphviz_color
  %dt Default X
  %dd= @energy_balance_group.graphviz_default_x

%table
  %thead
    %tr
      %th Id
      %th Key
  %tbody
    - @energy_balance_group.converters.each do |c|
      %tr
        %td= c.id
        %td= link_to c.key, data_converter_path(:id => c.id)