#panel
  %input#search{:'data-search_scope' => 'carriers', :type => 'search'}

  .tree
    = cache("data/#{params[:blueprint_id]}/#{params{:region_code}}/carriers/_list/") do
      %ul
        - Carrier.order('id ASC').each do |carrier|
          %li{:'data-search' => carrier.key}
            %a{:href => edit_data_carrier_carrier_data_path(:carrier_id => carrier.id)}
              %span.id== ##{carrier.id}
              %span.key= carrier.key
