- breadcrumb link_to "Carriers", data_carriers_path
- breadcrumb @carrier.key
= render :partial => "data/carriers/search_box"

.header
  == ##{@carrier.id}
  = @carrier.key


= notice_message

%table
  - Qernel::Carrier::DATASET_ATTRIBUTES.each do |key|
    %tr
      %th= key
      %td= @carrier[key]