= render "data/shared/data_subnav"

.row
  .span12
    .page-header
      %h2= @carrier.key


    = notice_message

    %table.table.table-condensed
      %tbody
        - Qernel::Carrier::DATASET_ATTRIBUTES.each do |key|
          %tr
            %th= key
            %td= @carrier[key]