<%= render(Identity::CardComponent.new(title: t('.title'), icon: "phosphor/keyhole.svg", id: "tokens")) do |c| %>
  <%= render(Identity::EmptyStateComponent.new(title: t('.empty_state.title'))) do |es| %>
    <%= format_paragraphs(t('.empty_state.message')) %>

    <% es.buttons do %>
      <button
        name="button"
        type="submit"
        class="<%= button_classes(color: :success, size: :lg) %>"
        <%= Settings.identity.personal_access_token_app.blank? ? 'disabled' : '' %>
      >
        <%= t('.create_token') %>
      </button>

      <button
        name="button"
        type="button"
        class="<%= button_classes(size: :lg) %>"
        disabled
      >
        <%= t('.learn_more') %>
      </button>
    <% end %>
  <% end %>
<% end %>
