<% content_for(:page_title, t('.title')) %>
<%= render(Login::HeaderComponent.new(
  title: t('.title'),
  subtext: t('.subtitle')
)) %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { turbo: false } }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= render(Login::FloatingFieldComponent.new(form: f, name: :email, type: :email, title: t('activerecord.attributes.user.email'), autofocus: true, autocomplete: "email")) %>
  </div>

  <%= render(Login::ButtonComponent.new(form: f).with_content(t('.submit'))) %>
<% end %>

<%= render "devise/shared/links" %>
