- breadcrumb "Backend"

= button_to "Restart", data_restart_path,
    :confirm =>"This will drop the sessions for ALL users! Please be patient, server restarts takes 30secs. Are you sure?"
= button_to "Clear Cache", data_clear_cache_path, :confirm =>"Are you sure?"

%h3 System

%table
  %tr
    %td Uptime
    %td= %x{uptime}
  - @cache_stats.each_pair do |store, info|
    %tr
      %th{:colspan => 2} Memcache: #{store}
    - info.each_pair do |k,v|
      %tr
        %td= k
        %td= v
      


