:ruby
  @pre = @converter_present.query
  @fut = @converter_future.query
%html
  %head
    = stylesheet_link_tag 'converter_details'
  %body#converter_detail
    - if @converter_present.groups.include?(:cost_traditional_heat)
      - @values = Qernel::ConverterApi::HEAT_PRODUCTION_VALUES
      = render "data/converters/details"
    - if @converter_present.groups.include?(:cost_electricity_production)
      - @values = Qernel::ConverterApi::ELECTRICITY_PRODUCTION_VALUES
      = render "data/converters/details"
    - if @converter_present.groups.include?(:cost_heat_pumps)
      - @values = Qernel::ConverterApi::HEAT_PUMP_VALUES
      = render "data/converters/details"
    - if @converter_present.groups.include?(:cost_chps)
      - @values = Qernel::ConverterApi::CHP_VALUES
      = render "data/converters/details"

    - if (@converter_present.groups & [:cost_traditional_heat, :cost_electricity_productions, :cost_heat_pumps, :cost_chps]).empty?
      No converter details specified

    %p
      For questions about these data, please contact:
      = mail_to 'alexander.wirtz@quintel.com'