- content_for(:title, "#{params[:graph_name].singularize.humanize} Nodes")

= render "inspect/shared/inspect_subnav"

- fields = (params[:fields] ||= 'demand').split(',').map(&:strip)

.row
  .wide
    .page-header
      %h2
        = params[:graph_name].singularize.humanize
        Nodes
        = render "search_box"

    %table.table.table-condensed.node-list
      %thead
        %tr
          %th{:colspan => 3}
          %th{:colspan => fields.length * 2}
            = form_tag( {}, {:method => 'get', :class => 'form form-inline'}) do
              = text_field_tag :fields, (params[:fields])
              = submit_tag 'show', :class => 'btn'

        %tr
          %th id
          %th Key
          %th Graph
          - fields.each do |field|
            %th Present
            %th Future
      %tbody
        - @nodes.each do |node|
          %tr
            %td= node.excel_id
            %td= link_to highlight(node.key.to_s, params[:q]),
                  inspect_node_path(:id => node)
            %td.buttons
              %small
                = link_to 'pres',
                  inspect_node_path(:id => node, :format => 'svg'),
                  :target => :blank, class: 'btn btn-mini'
                = link_to 'fut',
                  inspect_node_path(:id => node, :format => 'svg', :graph => 'future'),
                  :target => :blank, class: 'btn btn-mini'

            - fields.each do |field|
              - if node.key.present?
                - begin
                  - p, f = node_query_value(node, field)
                  %td.tar{ :title => title_tag_number(p) }= auto_number(p)
                  %td.tar{ :title => title_tag_number(f) }= auto_number(f)
                - rescue => e
                  %td{ colspan: 2 }= e.message
      %tfoot
        %tr
          %td{:colspan => 5}= paginate @nodes
