- begin
  - result = @gql.query(@query)
  - if result.respond_to?(:present_year)
    %table.table.table-bordered
      %tr
        %td.span1
          = result.present_year
          = clippy(result.present_value)
        %td.tal
          - if result.present_value.is_a?(String)
            %pre= result.present_value
          - else
            = result.present_value
        %td.span1= @gquery.andand.unit
      %tr
        %td
          = result.future_year
          = clippy(result.future_value)
        %td.tal
          - if result.future_value.is_a?(String)
            %pre= result.future_value
          - else
            = result.future_value
        %td= @gquery.andand.unit
  - else
    %table.table.table-bordered
      %tr
        %td No Year
        %td.tar= result
        %td= @gquery.try :unit

- rescue => e
  %h4== #{ e.class.name }: #{ e.to_s }
  ~ "<pre>#{ e.backtrace.join("\n") }</pre>".html_safe
