- begin
  - result = Current.gql.query(@query) 
  %table{:border => 1}
    %tr
      %td= result.present_year
      %td.tar= result.present_value
      %td= @gquery.andand.unit
    %tr
      %td= result.future_year
      %td.tar= result.future_value
      %td= @gquery.andand.unit

- rescue => e
  %pre= e.inspect