- begin
  - result = @gql.query(@query)
  %table.table.table-bordered.results
    - if result.respond_to?(:present_year)
      = render(partial: 'year_result', locals: { year: result.present_year, value: result.present_value })
      = render(partial: 'year_result', locals: { year: result.future_year, value: result.future_value })
    - else
      = render(partial: 'year_result', locals: { year: 'No year', value: result })

- rescue => e
  %h4== #{ e.class.name }: #{ e.to_s }
  ~ "<pre>#{ e.backtrace.join("\n") }</pre>".html_safe
