- begin
  - result = @gql.query(@query)
  - if result.respond_to?(:present_year)
    %table.table.table-bordered.results
      %tr
        %td.span1.year
          = result.present_year
          = clippy(result.present_value)
        %td.tal
          %pre
            = preserve do
              = format_result(result.present_value).html_safe
        - if @gquery
          %td.span1= @gquery.andand.unit
      %tr
        %td.year
          = result.future_year
          = clippy(result.future_value)
        %td.tal
          %pre
            = preserve do
              = format_result(result.future_value).html_safe
        - if @gquery
          %td= @gquery.andand.unit
  - else
    %table.table.table-bordered
      %tr
        %td.year No Year
        %td.tal
          %pre
            = preserve do
              = format_result(result).html_safe
      - if @gquery
        %td= @gquery.try :unit

- rescue => e
  %h4== #{ e.class.name }: #{ e.to_s }
  ~ "<pre>#{ e.backtrace.join("\n") }</pre>".html_safe
