- content_for :subnav do
  %ul.nav.nav-pills
    %li= link_to 'Gqueries', data_gqueries_path
    %li= link_to 'Sandbox', test_data_gqueries_path
    %li= link_to 'Query Tables', data_query_tables_path
    %li= link_to "GQL Search", data_gql_search_path
    %li= link_to "GQL Log", data_gql_log_path
