- content_for :subnav do
  %ul.nav.nav-pills
    %li= link_to 'Gqueries', backend_gqueries_path
    %li= link_to 'Sandbox', test_data_gqueries_path
    %li= link_to 'Query Tables', backend_query_tables_path
    %li= link_to "GQL Search", backend_gql_search_path
    %li= link_to "GQL Log", backend_gql_log_path
    %li= link_to "GQL Warnings", backend_gql_warnings_path
