%tr
  %td.span1.year(style="width: 110px")
    %strong= year

    - if value.is_a?(DebugTable)
      .spacing &nbsp;
    - else
      - format_query_performance(timing) unless timing.zero?

  - if value.is_a?(DebugTable)
    %td.tal.table
      = render(partial: 'data/gqueries/table', locals: { table: value })
  - else
    %td.tal
      %pre
        = preserve do
          = format_result(value)

  - if @gquery
    %td.span1= @gquery.andand.unit
