
= render 'list'

#content
  .header
    Edit:
    = @gquery.key

  = render 'form'

  = render '/data/shared/revisions', :versioned => @gquery

  - @query = Gql::QueryInterface::Preparser.new(@gquery.query).clean

  %h3 Result
  = render 'result' rescue 'ERROR in Calculation'
