
= render 'list'

#content
  .header
    Edit:
    = @gquery.key

  = render 'form'

  = render '/data/shared/revisions', :versioned => @gquery

  - @query = Gql::QueryInterface::GqlQueryPreparser.clean(@gquery.query)

  %h3 Result
  = render 'result' rescue 'ERROR in Calculation'
