- breadcrumb "GQueries"
= render 'search_box'
= render 'subnav'
%table
  %thead
    %tr
      %th Id
      = sortable_table_header :name => "Key", :sort=>"key"
      %th Unit
      = sortable_table_header :name => "Updated", :sort=>"updated_at"
      %th Deprecated Key

  %tbody
    - @gqueries.flatten.each do |gquery|
      %tr
        %td= link_to gquery.id, data_gquery_path(:id => gquery)
        %td= link_to highlight(gquery.key, params[:q]), data_gquery_key_path(:key => gquery.key)
        %td= gquery.unit
        %td= gquery.gquery_group.try(:group_key)
        %td= gquery.deprecated_key
  %tfoot
    %tr
      %td{:colspan => 9}= paginate @gqueries
