-# breadcrumb link_to "GQueries", data_gqueries_path
-# breadcrumb @gquery.key
= render 'subnav'


.row
  .span12
    .page-header
      %h2
        = @gquery.key
        %small 
  

    %pre.gql
      = color_syntaxed_gquery @gquery.query

    %h3 Result
    - @query = @gquery.query
    = render 'result'

    %h3 Info

    %dl
      - if @gquery.deprecated_key
        %dt Deprecated Key
        %dd= @gquery.deprecated_key
      %dt Groups
      %dd= @gquery.gquery_group.try(:group_key)
      %dt Unit
      %dd= @gquery.unit
      %dt Description
      %dd= simple_format @gquery.description
      %dt File path
      %dd= @gquery.file_path

    %h3 References

    %table
      - Gquery.contains(@gquery.key).each do |gquery|
        %tr
          %td Gquery
          %td= link_to gquery.key, data_gquery_path(:id => gquery.key)

