- breadcrumb link_to "GQueries", data_gqueries_path
- breadcrumb @gquery.key
= render 'search_box'

.header
  \##{@gquery.id}
  \:
  = @gquery.key
  %small= link_to 'Edit', edit_data_gquery_path(:id => @gquery)

%h3 Query

%pre.gql
  = color_syntaxed_gquery @gquery.query

%h3 Result
- @query = Gql::QueryInterface::Preparser.new(@gquery.query).clean
= render 'result'

%h3 Info

%dl
  - if @gquery.deprecated_key
    %dt Deprecated Key
    %dd= @gquery.deprecated_key
  %dt Groups
  %dd= @gquery.gquery_group.try(:group_key)
  %dt Description
  %dd= simple_format @gquery.description

%h3 References

%table
  - Gquery.contains(@gquery.key).each do |gquery|
    %tr
      %td Gquery
      %td= link_to gquery.key, data_gquery_path(:id => gquery.id)
  - Input.embedded_gql_contains(@gquery.key).each do |input|
    %tr
      %td Input
      %td= link_to input.key, edit_data_input_path(:id => input.id)
