= render 'list'

.header
  Key:
  = @gquery.key
  %small= link_to 'Edit', edit_data_gquery_path(:id => @gquery)

%h3 Query

%pre.gql
  = color_syntaxed_gquery @gquery.query

%h3 Result
- @query = Gql::QueryInterface::Preparser.new(@gquery.query).clean
%p= render 'result'


%h3 Group
%p
  = @gquery.gquery_groups.map(&:group_key)

%h3 Description
%p
  = @gquery.description

  %h3 Description
  %p
    = simple_format @gquery.description

= render '/data/shared/revisions', :versioned => @gquery
