= render 'subnav'


.row
  .span8
    .page-header
      %h2 Test GQL
    %p
      = form_tag test_data_gqueries_path do |f|
        = text_area_tag :query, params[:query], :class => 'span8', :style => "height: 200px"
        %p
          = submit_tag 'Run GQL', :class => 'btn btn-primary'
          = submit_tag 'Debug', :class => 'btn btn'

  - if @query    
    .span8
      %h3 Result
      = render 'result'
