<%= render(ModalComponent.new(title: t('.title'))) do |modal| %>
  <%= turbo_frame_tag :change_email_form do %>
    <%= form_for(@user, url: identity_edit_email_path, html: { method: :post }) do |f| %>
      <%= render(FormSteps::WrapperComponent.new) do |steps| %>
        <%= render(FormSteps::RowComponent.new(title: t('identity.settings.edit_password.current_password'), hint: t('identity.settings.edit_password.current_password_hint'), label_for: "user_current_password")) do |row| %>
          <div class="relative">
            <%= render(PasswordFieldComponent.new(form: f, name: :current_password, class: "field", autofocus: true, autocomplete: 'current-password', required: true)) %>
          </div>

          <% row.icon { inline_svg_tag("hero/20/key.svg") } %>

          <% row.after_hint do %>
            <%= render(FieldErrorsComponent.new(record: @user, attribute: :current_password)) %>
          <% end %>
        <% end %>

        <%= render(FormSteps::RowComponent.new(title: t('.new_email'), label_for: "user_email", hint: t('.new_email_hint'))) do |row| %>
          <div class="relative">
            <%= f.email_field :email, value: action_name == "edit_email" ? "" : @user.email, autocomplete: 'email', required: true, class: "field" %>
          </div>

          <% row.icon { inline_svg_tag("hero/20/mail.svg") } %>

          <% row.after_hint do %>
            <%= render(FieldErrorsComponent.new(record: @user, attribute: :email)) %>
          <% end %>
        <% end %>

        <div class="mt-6 pb-2 flex items-center gap-2">
          <%= button_tag t('.submit'), class: button_classes("text-base", size: :lg, color: :success) %>
          <%= modal.close_link(t('identity.cancel'), identity_profile_path, class: button_classes("text-base", size: :lg)) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
