<%= content_for(:page_title, t('.title')) %>
<% render partial: 'identity/sidebar' %>

<%= render(Identity::PageHeaderComponent.new(title: t('.title'), message: t('.explanation'))) %>

<h3 class="text-xl font-semibold mb-8"><%= t('.account') %></h3>

<%= render(Identity::ProfileEmailComponent.new(title: t('activerecord.attributes.user.email'), email: current_user.email, confirmed: current_user.confirmed_at)) %>

<% if current_user.pending_reconfirmation? %>
  <%= render(Identity::ProfileEmailComponent.new(title: t('activerecord.attributes.user.unconfirmed_email'), email: current_user.unconfirmed_email, confirmed: false, show_change_button: false)) %>
<% end %>

<%= render(Identity::ProfileRowComponent.new(title: t('activerecord.attributes.user.password'))) do |row| %>
  <span class="tracking-wider">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span>
  <% row.message do %>
    <p>
      <%= t('.password_explanation') %>
    </p>
  <% end %>

  <% row.button do %>
    <%= link_to "#{t('.change_password')}…", identity_edit_password_path, data: { turbo_frame: :modal }, class: button_classes(color: :default_colored) %>
  <% end %>
<% end %>

<h3 class="text-xl font-semibold mb-8 border-t pt-6 mt-12"><%= t('.profile') %></h3>

<%= render(Identity::ProfileRowComponent.new(title: t('activerecord.attributes.user.name'))) do |row| %>
  <%= current_user.name %>

  <% row.message do %>
    <p>
      <%= t('.name_explanation') %>
    </p>
  <% end %>

  <% row.button do %>
    <%= link_to "#{t('.change_name')}…", identity_edit_name_path, data: { turbo_frame: :modal }, class: button_classes(color: :default_colored) %>
  <% end %>
<% end %>
