= render "data/shared/data_subnav"


.row
  .span12
    .page-header
      %h2 Inputs
    .alert
      Min-, max- and start values on this screen are calculated for the current scenarios.

    %table.table.table-condensed
      %thead
        %th Id
        %th Key
        %th Start/User
        %th Share group
        %th Min
        %th Max
      %tbody
        - @inputs.each do |i|
          %tr
            %td= i.id
            %td= link_to highlight(i.key, params[:q]), data_input_path(:id => i.id)
            %td
              - begin
                = auto_number(i.start_value_for(@gql))
              - rescue => e
                %strong{:style => 'color: red'}= e
            %td= auto_number(i.share_group)
            %td
              - begin
                = auto_number(i.min_value_for(@gql))
              - rescue => e
                %strong{:style => 'color: red'}= e
            %td
              - begin
                = auto_number(i.max_value_for(@gql))
              - rescue => e
                %strong{:style => 'color: red'}= e
