%h2 Search

#search-results
  %ul
    %li
      %a{ href: '#gqueries' }
        %strong Gqueries:
        = @gqueries.count
        matches

    %li
      %a{ href: '#energy-nodes' }
        %strong Energy nodes:
        = @energy_nodes.count
        matches

    %li
      %a{ href: '#molecule-nodes' }
        %strong Molecule nodes:
        = @molecule_nodes.count
        matches

  - if @gqueries.any?
    %details#gqueries{ open: true }
      %summary
        Gqueries
        %small== #{@gqueries.count} matches

      %ul
        - @gqueries.each do |g|
          %li= link_to highlight(g.key, params[:search]), inspect_gquery_path(id: g.key)

  - if @energy_nodes.any?
    %details#energy-nodes{ open: true }
      %summary
        Energy Nodes
        %small== #{@energy_nodes.count} matches

      %ul
        - @energy_nodes.each do |c|
          %li= link_to highlight(c.key.to_s, params[:search]), inspect_node_path_auto(c)

  - if @molecule_nodes.any?
    %details#molecule-nodes{ open: true }
      %summary
        Molecule Nodes
        %small== #{@molecule_nodes.count} matches

      %ul
        - @molecule_nodes.each do |c|
          %li= link_to highlight(c.key.to_s, params[:search]), inspect_node_path_auto(c)
