#panel
  %input#search{:'data-search_scope' => 'converters', :type => 'search'}

  .tree
    = cache("data/#{params[:blueprint_id]}/#{params{:region_code}}/converters/_list/#{@blueprint.id}") do
      %ul    
        - @blueprint.converter_records.includes(:groups).each do |converter|
          %li{:'data-search' => [converter.id, converter.full_key, converter.groups.map(&:key)].flatten.join(' ')}
            %a{:href => data_converter_path(:id => converter)}
              %span.id== ##{converter.id}
              %span.key= converter.key
              %span.sector= Qernel::Converter::SECTORS[converter.sector_id]
              %span.use
                = Qernel::Converter::USES[converter.use_id] if converter.use_id != 3
