- if object && object.attributes.values.any?
  %tr
    %td
      = name
    %td
      .converter-attrs
        - object.attributes.select { |_, val| val.present? }.sort_by(&:first).each do |key, value|
          .attribute
            .key<>= key
            .value>
              - if value.is_a?(Hash)
                - value.each do |sub_key, sub_value|
                  %span.sub-attribute
                    == #{sub_key}: #{sub_value}
              - else
                - if object_attribute_is_converter?(key)
                  = link_to value, backend_converter_path(id: value)
                - else
                  = value
