
= render 'subnav'

.header Check if present demand matches demand_expected_value.

- @converters = @gql.present_graph.converters.map(&:query).sort_by{|c| c.excel_id || 0}

%p
  %h2
    Demand not expected: 
    = @converters.select{ |c| c.demand_expected? == false }.length
    converters are unhappy. :-( 

%table
  %thead
    %tr
      %th Id
      %th Key
      %th Demand
      %th Expected
      %th
  %tbody
    - @converters.select{ |c| c.demand_expected? == false }.each do |converter|
      - code = converter.code
      %tr
        %td
          %a{:id => code}= converter.dataset_get(:excel_id)
        %td= link_to code, data_converter_path(:id => code)
        %td.align-right= auto_number converter.demand
        %td.align-right= auto_number converter.demand_expected_value
        %td
          &nbsp;
          - if converter.demand_expected? == false
            \:-(
          &nbsp; 

%h2 All converters
%table
  %thead
    %tr
      %th Id
      %th Key
      %th Demand
      %th Expected
      %th
  %tbody
    - @converters.each do |converter|
      - code = converter.code
      %tr
        %td
          %a{:id => code}= converter.dataset_get(:excel_id)
        %td= link_to code, data_converter_path(:id => code)
        %td.align-right= auto_number converter.demand
        %td.align-right= auto_number converter.demand_expected_value
        %td
          &nbsp;
          - if converter.demand_expected? == false
            \:-(
          &nbsp; 
