= render "data/shared/data_subnav"

.header
  %h1 All gquery outcomes

%table.table.table-condensed
  %thead
    %tr
      %th Gquery
      %th Present
      %th Future
      %th
  %tbody
    - @gqueries.each do |gquery|
      %tr
        %td= link_to truncate(gquery.key, length:80), data_gquery_path(:id => gquery.key)
        :ruby
          result = @gql.query(gquery.query) rescue nil
        - if result.respond_to?(:present_year)
          %td.align-right= auto_number result.present_value rescue "N/A"
          %td.align-right= auto_number result.future_value rescue "N/A"
        - else
          %td{:colspan => 2}= auto_number result rescue 'N/A'
