<%= render(ModalComponent.new(title: "Change your password")) do |modal| %>
  <%= turbo_frame_tag :change_password_form do %>
    <%= form_for(@user, url: user_edit_password_path, html: { method: :post }) do |f| %>
      <%= render(FormSteps::WrapperComponent.new) do |steps| %>
        <%= render(FormSteps::RowComponent.new(title: "Current password", hint: "Confirm the password you currently use to sign in", label_for: "user_current_password")) do |row| %>
          <div class="relative">
            <%= render(PasswordFieldComponent.new(form: f, name: :current_password, class: "field", autofocus: "true")) %>
          </div>

          <% row.after_hint do %>
            <%= render(FieldErrorsComponent.new(record: @user, attribute: :current_password)) %>
          <% end %>
        <% end %>

        <%= render(FormSteps::RowComponent.new(title: "New password", label_for: "user_password", hint: "Your password needs to be at least #{Devise.password_length.min} characters long. Use multiple words or phrases, numbers, or symbols to make it more secure.")) do |row| %>
          <div class="relative">
            <%= render(PasswordFieldComponent.new(form: f, name: :password, class: "field")) %>
          </div>

          <% row.after_hint do %>
            <%= render(FieldErrorsComponent.new(record: @user, attribute: :password)) %>
          <% end %>
        <% end %>

        <div class="mt-6 pb-2 flex items-center gap-2">
          <%= button_tag "Change password", class: button_classes("text-base", size: :lg, color: :success) %>
          <%= modal.close_link("Cancel", user_profile_path, modal:, class: button_classes("text-base", size: :lg)) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
