<%= render(ModalComponent.new(title: "Change your account name")) do |modal| %>
  <%= turbo_frame_tag :change_name_form do %>
    <%= form_for(@user, url: user_edit_name_path, html: { method: :post }) do |f| %>
      <%= render(FormSteps::WrapperComponent.new) do |steps| %>
        <%= render(FormSteps::RowComponent.new(title: "New name", label_for: "user_name", hint: "This name will be used when we communicate with you, and alongside your public scenarios.")) do |row| %>
          <div class="relative">
            <%= f.text_field :name, value: @user.name, required: true, autofocus: true, class: "field" %>
          </div>

          <% row.icon { inline_svg_tag("hero/20/identification.svg") } %>

          <% row.after_hint do %>
            <%= render(FieldErrorsComponent.new(record: @user, attribute: :name)) %>
          <% end %>
        <% end %>

        <div class="mt-6 pb-2 flex items-center gap-2">
          <%= button_tag "Change name", class: button_classes("text-base", size: :lg, color: :success) %>
          <%= modal.close_link("Cancel", user_profile_path, modal:, class: button_classes("text-base", size: :lg)) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
