- content_for :subnav do
  %ul.nav.nav-pills
    %li= link_to 'Overview',       data_root_path
    %li= link_to 'Area',           data_area_path
    %li= link_to 'Balance Groups', data_energy_balance_groups_path
    %li= link_to 'Carriers',       data_carriers_path
    %li= link_to 'Converters',     data_converters_path
    %li= link_to "Inputs",         data_inputs_path
    %li.dropdown
      %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'} Layout
      %ul.dropdown-menu
        %li= link_to 'Show', data_layout_path, :target => '_blank'
        %li= link_to 'Edit', edit_data_layout_path, :target => '_blank'
    %li.dropdown
      %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
        Checks
        %b.carret
      %ul.dropdown-menu
        %li= link_to 'Expected Demand', :controller => 'data/checks', :action => 'expected_demand'
        %li= link_to 'Share Groups',    :controller => 'data/checks', :action => 'share_groups'
        %li= link_to 'All gquery Results',  :controller => 'data/checks', :action => 'gquery_results'
    %li= link_to "Scenarios",      data_scenarios_path
