= form_tag data_redirect_path, :method => :get, :id => 'api_scenario_selector', :style => 'width: 280px; float: left' do
  = label_tag 'Session'
  - opts = [["Current - ##{@gql.scenario.id rescue 'error'}", 'latest'], *Scenario.recent.map{|as| [as.identifier, as.id]}]
  = select_tag :api_scenario_id, options_for_select(opts, params[:api_scenario_id])

= form_tag '#', :method => :get, :id => 'area_code_selector', :style => 'width: 200px; float: left' do
  = label_tag 'New:'
  - opts = Etsource::Dataset.region_codes
  = select_tag 'area_code', options_for_select(opts), :include_blank => true

- content_for :footer do
  :javascript
    $("#api_scenario_selector select").change(function(e){
      e.preventDefault();
      var url = location.pathname;
      var tokens = url.split('/');
      tokens[2] = $("#api_scenario_id").val();

      var new_url = tokens.join('/');
      location.href = new_url;
    });

    $("#area_code_selector select").change(function(e){
      e.preventDefault();
      var url = "/api/v2/api_scenarios/new.json?settings[area_code]="+$("#area_code_selector select").val();

      $.getJSON(url, function(data) {
        location.href = "/data/"+data.api_scenario.id;
      });
    });
