= render "data/shared/data_subnav"

.row
  .span12
    .page-header
      %h2== Area: #{@area_present.area_code.upcase}

    %table.table.table-condensed
      %thead
        %tr
          %th
          %th Present
          %th Future
      %tbody
        - Qernel::Area::ATTRIBUTES_USED.each do |attr|
          - pres, fut = @area_present.send(attr), @area_future.send(attr)
          %tr
            %th= attr
            %td{:title => pres}= pres.is_a?(Numeric) ? auto_number(pres) : pres
            %td{:title => fut}= fut.is_a?(Numeric) ? auto_number(fut) : fut