.table-raw-switcher
  .btn-toolbar(role="toolbar")
    .btn-group
      %button.btn.btn-small.btn-primary.disabled(data-show="table") Table
    .btn-group
      %button.btn.btn-small(data-show="txt") Text
      %button.btn.btn-small(data-show="csv") CSV
      %button.btn.btn-small(data-show="tsv") TSV

.debug-table-wrapper.table
  %table.debug-table
    %thead
      %tr
        - table.data[0].each do |column|
          %th= column
    - if table.data.any?
      %tbody
        - table.data[1..-1].each_with_index do |row, row_idx|
          %tr
            - row.each_with_index do |value, col_idx|
              - if value.is_a?(Numeric)
                %td.numeric{ title: value }
                  = number_with_precision(value, precision: 10, separator: '.', delimiter: ',', strip_insignificant_zeros: true)
              - elsif table.objects[row_idx].is_a?(Qernel::Node) && table.data[0][col_idx] == :key
                %td.node
                  = link_to(value, inspect_node_path(id: value))
              - else
                %td= value

%textarea.txt{ :readonly => "readonly", :rows => table.to_txt.lines.to_a.length }
  = preserve do
    = table.to_txt

%textarea.csv{ :readonly => "readonly", :rows => table.to_csv.lines.to_a.length }
  = preserve do
    = table.to_csv

%textarea.tsv{ :readonly => "readonly", :rows => table.to_tsv.lines.to_a.length }
  = preserve do
    = table.to_tsv
