- content_for(:title, params[:query].to_s.gsub(/[\s\n]/, '').truncate(40).presence || 'Debug')

= render 'subnav'

.row
  .wide
    %h4(style="margin-bottom: .5em") Test GQL

    = form_tag test_inspect_gqueries_path, style: 'width: 100%', class: 'gql-debug', data: { turbo: 'false' } do |f|
      = text_area_tag :query, params[:query], data: { codemirror: 'ruby' }
      %p
        = button_tag class: 'btn btn-primary btn-large', type: 'submit' do
          Run GQL
          %span.hotkey
            %kbd Ctrl
            %span.plus +
            %kbd ↩
        &nbsp;
        = submit_tag 'Debug', :class => 'btn btn-large'

- if @result
  .row
    .wide
      %h4(style="margin-bottom: .5em") Result
      = render 'result', result: @result
- elsif @error
  .row
    .wide
      %h4(style="margin-bottom: .5em") Error:
      = render partial: 'error', locals: { error: @error }
