= render 'subnav'

.row
  .span12
    %h2(style="margin-bottom: .5em") Test GQL

    = form_tag test_inspect_gqueries_path, class: 'gql-debug' do |f|
      = text_area_tag :query, params[:query]
      %p
        = submit_tag 'Run GQL', :class => 'btn btn-primary btn-large', title: 'Ctrl+↩'
        = submit_tag 'Debug', :class => 'btn btn-large'

- if @result
  .row
    .span11
      %h2(style="margin-bottom: .5em") Result
      = render 'result', result: @result
- elsif @error
  .row
    .span11
      %h2(style="margin-bottom: .5em") Error:
      = render partial: 'error', locals: { error: @error }
