- content_for(:title, @present_carrier.key)

= render "inspect/shared/inspect_subnav"

.row
  .span12
    .page-header
      %h2= @present_carrier.key


    = notice_message

    %table.table.table-condensed
      %thead
        %tr
          %th Attribute
          %th Present
          %th Future
      %tbody
        - Qernel::Carrier::DATASET_ATTRIBUTES.each do |key|
          %tr
            %th= key
            %td= @present_carrier[key]
            %td= @future_carrier[key]
