- content_for(:title, @input.key)

= render "inspect/shared/inspect_subnav"

.row
  .span12
    .page-header
      %h2 input #{@input.key}

    .alert.alert-warning Inputs have to be edited through ETsource.

    %table.table.table-condensed
      - Input::ATTRIBUTES.each do |attr|
        %tr
          %td= attr
          - value = @input.send(attr)

          - if value.present? && (attr == :query || attr.to_s.end_with?('_gql'))
            %td
              %pre.ruby.highlight
                = preserve do
                  = value
          - else
            %td= highlight @input.send(attr).to_s, params[:highlight]
