- if @scenario.errors.any?
  .alert.alert-danger
    %strong Sorry, there were errors updating the scenario.

.row
  .span12
    = simple_form_for [:data, @scenario],
        :url => @scenario.new_record? ? inspect_scenarios_path : inspect_scenario_path(:id => @scenario) do |f|
      = f.input :author
      = f.input :protected, :as => :boolean, :hint => "Protected scenarios are migrated during deploys, and are read-only through the API"
      = f.input :end_year
      = f.input :area_code, collection: grouped_region_types, as: :grouped_select, group_method: :regions, group_label_method: :human_name, value_method: :key, label_method: :key, include_blank: false
      = f.input :user_values, label: 'User values (YAML)', as: :text, :hint => "Position (values) of all the sliders", input_html: { data: { codemirror: 'yaml' } }
      = f.input :balanced_values, label: 'Balanced values (YAML)', as: :text, :hint => "Values set automatically by ETEngine ensuring groups sum to 100%", input_html: { data: { codemirror: 'yaml' } }
      = f.input :metadata, label: 'Metadata (JSON)', as: :text, input_html: { data: { codemirror: 'application/json' } }
      = f.simple_fields_for :heat_network_order, @scenario.heat_network_order do |hno|
        = hno.input :order, as: :text, input_html: { value: user_sortable_list(@scenario.heat_network_order) }, label: 'Heat network dispatchables order', hint: 'Delete all lines to revert to default'
      = f.button :submit, class: 'btn btn-primary btn-large'

  :css
    #scenario_heat_network_order_order {
      font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",  "Courier New", monospace;
      width: 800px;
      height: 300px;
      margin-right: 10px;
    }

    #scenario_heat_network_order_order {
      height: 220px;
      width: 400px;
    }

    .text .hint {
      display: block;
      margin: -10px 0 5px;
    }
