- if @scenario.errors.any?
  .alert.alert-danger
    %strong Sorry, there were errors updating the scenario.

.row
  .span12
    Import a dump
    = form_with url: load_dump_inspect_scenarios_path do |f_load|
      = f_load.file_field 'dump', accept: 'application/json'
      = f_load.submit 'Create'

.row
  .span12
    = simple_form_for [:data, @scenario],
        :url => @scenario.new_record? ? inspect_scenarios_path : inspect_scenario_path(:id => @scenario) do |f|
      = f.input :end_year
      = f.input :area_code, collection: grouped_region_types, as: :grouped_select, group_method: :regions, group_label_method: :human_name, value_method: :key, label_method: :key, include_blank: false

      = scenario_compatibility_select(f)

      %dl.hint{ style: 'margin: 0 0 10px' }
        %dt Current model version only
        %dd
          If the scenario has not been updated in the last month, it will not be migrated when the
          model is updated.
        %dt Keep compatible with model updates
        %dd
          The scenario will be migrated when the model is updated, regardless of how long hash
          passed since it was last updated by a user.

      = f.input :active_couplings, label: 'Active couplings', as: :text, input_html: { value: @scenario.active_couplings.join("\n"), data: { codemirror: 'yaml' } }
      %dl.hint{ style: 'margin: 0 0 10px' }
        %dt Currently inactive:
        %dd
          - @scenario.inactive_couplings.each do |coupling|
            %span= coupling

      = f.input :user_values, label: 'User values (YAML)', as: :text, :hint => "Position (values) of all the sliders", input_html: { data: { codemirror: 'yaml' } }
      = f.input :balanced_values, label: 'Balanced values (YAML)', as: :text, :hint => "Values set automatically by ETEngine ensuring groups sum to 100%", input_html: { data: { codemirror: 'yaml' } }
      = f.input :metadata, label: 'Metadata (JSON)', as: :text, input_html: { data: { codemirror: 'application/json' } }
      = f.simple_fields_for :forecast_storage_order, @scenario.forecast_storage_order do |hno|
        = hno.input :order, as: :text, input_html: { value: user_sortable_list(@scenario.forecast_storage_order) }, label: 'Forecast storage order', hint: 'Delete all lines to revert to default'
      = f.simple_fields_for :hydrogen_supply_order, @scenario.hydrogen_supply_order do |hno|
        = hno.input :order, as: :text, input_html: { value: user_sortable_list(@scenario.hydrogen_supply_order) }, label: 'Hydrogen producer order', hint: 'Delete all lines to revert to default'
      = f.simple_fields_for :hydrogen_demand_order, @scenario.hydrogen_demand_order do |hno|
        = hno.input :order, as: :text, input_html: { value: user_sortable_list(@scenario.hydrogen_demand_order) }, label: 'Hydrogen flex demand order', hint: 'Delete all lines to revert to default'
      = f.simple_fields_for :heat_network_order_ht, @scenario.heat_network_order(:ht) do |hno|
        = hno.input :order, as: :text, input_html: { value: user_sortable_list(@scenario.heat_network_order(:ht)) }, label: 'Heat network (HT) dispatchables order', hint: 'Delete all lines to revert to default'
      = f.simple_fields_for :heat_network_order_mt, @scenario.heat_network_order(:mt) do |hno|
        = hno.input :order, as: :text, input_html: { value: user_sortable_list(@scenario.heat_network_order(:mt)) }, label: 'Heat network (MT) dispatchables order', hint: 'Delete all lines to revert to default'
      = f.simple_fields_for :heat_network_order_lt, @scenario.heat_network_order(:lt) do |hno|
        = hno.input :order, as: :text, input_html: { value: user_sortable_list(@scenario.heat_network_order(:lt)) }, label: 'Heat network (LT) dispatchables order', hint: 'Delete all lines to revert to default'
      = f.simple_fields_for :households_space_heating_producer_order, @scenario.households_space_heating_producer_order do |hno|
        = hno.input :order, as: :text, input_html: { value: user_sortable_list(@scenario.households_space_heating_producer_order) }, label: 'Households space heating producer order', hint: 'Delete all lines to revert to default'
      = content_tag(:button, type: 'submit', class: 'btn btn-primary btn-large') do
        Submit
        %span.hotkey
          %kbd Ctrl
          %span.plus +
          %kbd ↩

  :css
    #scenario_heat_network_order_ht_order, #scenario_heat_network_order_mt_order,#scenario_heat_network_order_lt_order,#scenario_forecast_storage_order_order,#scenario_households_space_heating_producer_order_order,#scenario_hydrogen_supply_order_order,#scenario_hydrogen_demand_order_order {
      font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",  "Courier New", monospace;
      width: 400px;
      height: 220px;
      margin-right: 10px;
    }

    .text .hint {
      display: block;
      margin: -10px 0 5px;
    }
