- content_for(:title, 'Scenarios')
= render "inspect/shared/inspect_subnav"

.container-fluid
  .row-fluid
    .span6
      / ──────────── New + Search ───────────────────
      %section#search_box
        = form_tag inspect_scenarios_path, method: :get do
          = search_field_tag :q, params[:q], placeholder: 'Scenario ID'
          = submit_tag 'Search', class: 'btn'

      %p
        = link_to "Create a new scenario", new_inspect_scenario_path, class: 'btn btn-primary'
        - if params[:api_scenario_id]
          = link_to 'View current scenario', inspect_scenario_path(id: params[:api_scenario_id]), class: 'btn'

    / ──────────── Download + Import ─────────────
    .span6.text-right
      = button_tag 'Download dump',
                   type: 'button',
                   class: 'btn btn-primary',
                   style: 'min-width:130px; text-align:center;',
                   'data-toggle' => 'modal',
                   'data-target' => '#dumpModal'

      = button_tag 'Import dump',
                   type: 'button',
                   class: 'btn btn-secondary mt-2',
                   style: 'min-width:130px; text-align:center;',
                   'data-toggle' => 'modal',
                   'data-target' => '#loadModal'

  = render 'dump_modal'
  = render 'load_modal'

%table.table.table-condensed.scenario-list
  %thead
    %tr
      %th{ colspan: 8 } Scenario count: #{Scenario.count}
    %tr
      %th.narrow.text-center Visibility
      %th ID
      %th Owners
      %th End Year
      %th Area
      %th.narrow Compatibility
      %th
  %tfoot
    %tr
      %td{ colspan: 8 }= paginate @scenarios
  %tbody
    - @scenarios.each do |s|
      %tr{ class: s.id.to_s == params[:api_scenario_id] ? 'active' : '' }
        %td.text-center
          - if s.private?
            %span.tag.private
              = inline_svg_tag 'font-awesome/16/lock.svg'
              Private
          - else
            %span.tag.gray Public
        %td
          = link_to s.id, inspect_scenario_path(id: s.id)
          - if s.title
            %span{ style: 'margin: 0 0.25rem 0 0.5rem; font-weight: normal' }= s.title
          - if s.id.to_s == params[:api_scenario_id]
            %span.tag.green &#9733; Current Scenario
        %td
          - if s.scenario_users.present?
            - s.scenario_users.each do |scenario_user|
              - if scenario_user.user
                = link_to "#{scenario_user.user.name} (#{User::ROLES[scenario_user.role_id].to_s.humanize})", user_path(scenario_user.user)
              - else
                %span.muted= "#{scenario_user.email} (#{User::ROLES[scenario_user.role_id].to_s.humanize})"
          - else
            %span.muted No owner
        %td= s.end_year
        %td= s.area_code
        %td.narrow
          = formatted_scenario_compatibility(s)
        %td.actions
          - if params[:api_scenario_id] == s.id.to_s
            %span.muted Make active
          - else
            = link_to 'Make active', inspect_scenarios_path(@list_params.to_h.symbolize_keys.merge(api_scenario_id: s.id))
          = link_to 'Edit', edit_inspect_scenario_path(id: s.id)
