- content_for(:title, 'Scenarios')

= render "inspect/shared/inspect_subnav"

%section#search_box
  = form_tag inspect_scenarios_path, :method => :get do
    = search_field_tag :q, params[:q], :placeholder => 'search'
    = check_box_tag :in_start_menu, 1, params[:in_start_menu]
    = label_tag "In start menu", nil, for: "in_start_menu"
    = check_box_tag :protected, 1, params[:protected]
    = label_tag "Protected", nil, for: "protected"
    = submit_tag "search", :class => 'btn'

%p
  = link_to "Create a new scenario", new_inspect_scenario_path, class: 'btn btn-primary'
  - if params[:api_scenario_id]
    = link_to 'View current scenario', inspect_scenario_path(id: params[:api_scenario_id]), class: 'btn'

%table.table.table-condensed.scenario-list
  %thead
    %tr
      %th{:colspan => 8} Scenario count: #{Scenario.count}
    %tr
      %th Id
      %th Title
      %th End Year
      %th Area
      %th In start menu
      %th Protected
      %th
  %tfoot
    %tr
      %td{:colspan => 8}= paginate @scenarios
  %tbody
    - @scenarios.each do |s|
      %tr{ class: s.id.to_s == params[:api_scenario_id] ? 'active' : '' }
        %td
          = link_to s.id, inspect_scenario_path(:id => s.id)
          - if s.id.to_s == params[:api_scenario_id]
            %span.tag Current Scenario
        %td= s.title
        %td= s.end_year
        %td= s.area_code
        %td= '✓' if s.in_start_menu
        %td= '✓' if s.protected?
        %td= link_to 'edit', edit_inspect_scenario_path(:id => s.id)
