= javascript_tag "Util.makeSureConsoleExists();"

= javascript_tag "var ETM = new MainController();"

= javascript_include_tag '/i18n'
  

- if Current.scenario.municipality?
  = javascript_tag "ETM.municipalityController.setMunicipality(true)"
  - if !Current.setting.show_municipality_introduction
    = javascript_tag "ETM.municipalityController.setMunicipalityMessageShown(true)"


- if Current.scenario.transitionprice?
  = javascript_tag "ETM.transitionpriceController.setTransitionprice(true)"

- if current_user.andand.trackable
  = javascript_include_tag "user_tracking"

  :javascript
    tracking.user_name = '#{current_user.name}';
    
  - if current_user.andand.send_score
    - round = Round.where("completed = 1").order(:position).last
    - if round
      :javascript
        tracking.round = '#{round.andand.name}';
        tracking.score('#{Current.scenario.score_to_tracker}',$("#constraint_8 strong").html());

    - user = User.find(current_user.id)
    - user.send_score = false
    - user.save