.span14
  = form_for @form do |f|
    = f.hidden_field :code
    = render :file => Etsource::Wizard.new.form_template_for(@form.code)
    .actions
      = submit_tag 'Save changes', :class => 'btn primary'
      (will save all tabs)

.span2
  = render :file => Etsource::Wizard.new.description_template_for(@form.code)


  %a.btn{:data => {:'controls-modal' => "value_box_contents", :backdrop => "true"}} Debug
  #value_box_contents.modal.hide
    .modal-header
      %a.close{:href => "#"} &times;
      %h3 Debug 
    .modal-body
      - InputTool::Form.all.inject({}) {|hsh,f| hsh.merge f.code => f.dataset_values}.each do |k,h|
        %code= h
    