- # Add methods used to the following array, to fetch the source codes for the modals.
- @method_definitions = Set.new
- @gquery_keys = Set.new

= render 'data/gqueries/subnav'


#debugger
  .row-fluid
    .span8
      .page-header
        %h2 Debug GQL
      = form_tag data_debug_gql_path, :method => :get do
        %h4 Input YAML (optional)
        %p Copy/Paste the contents of a inputs/*.yml file in here
        = text_area_tag :input_yml, params[:input_yml], :placeholder => 'Input YML', :class => 'span8'
        %label
          User value for above input:
          = text_field_tag :input_user_value, params[:input_user_value]
        %h4 GQuery
        = text_area_tag :gquery, params[:gquery], :placeholder => 'GQL Query', :class => 'span8'
        %p
          = submit_tag 'Analyse', :class => 'btn btn-primary'
          %br
    .span4
      .alert
        %strong Folding
        In the output below, click on the icon to the left to fold/unfold. It cycles between:
        %ol
          %li Fold all sublists
          %li Unfold 1 level
          %li Unfold all sublists


    -# RAW LOGS
      %pre= @logs.join("\n")

  .row
    .span10{:style => 'font-family: Courier New'}
      - log_tree


  .modals
    - @method_definitions.each do |method_name|
      .modal.hide{:id => method_name, :style => 'width: 800px'}
        .modal-header
          %h4= method_name
        .modal-body
          %pre.prettyprint.method-source= method_source(method_name)
        .modal-footer
          %a.btn{:href => '#', :'data-dismiss' => 'modal'} Close

:javascript
  $('span[rel=modal]').modal({show: false, backdrop: false});

  $('.fold_all'  ).bind('click', function() { fold_all(this)} );
  $('.unfold_toggle').bind('click', function() { unfold_toggle(this)} );
  $('.unfold_all').bind('click', function() { expand_all(this)} );
  $('.unfold_1'  ).bind('click', function() { expand_1(this)} );

  function unfold_toggle(el) {
    var parent = $(el).closest('li');
    if (parent.attr('data-folding') == 'folded') {
      expand_1(el);
    } else if (parent.attr('data-folding') == 'unfolded_1') {
      expand_all(el);
    } else {
      fold_all(el);
    }
  }

  function expand_1(el) {
    var parent = $(el).closest('li');
    fold_all(el);
    parent.attr('data-folding', 'unfolded_1')
    $('> ul', parent).show();
  }
  function expand_all(el) {
    var parent = $(el).closest('li');
    parent.attr('data-folding', 'unfolded')
    $('ul', parent).show();
  }
  function fold_all(el) {
    var parent = $(el).closest('li');
    parent.attr('data-folding', 'folded')
    $('ul', parent).hide();
  }