- breadcrumb "ETSource"
%section#search_box
  = form_tag data_commits_path, :method => :get do
    Branches
    = select_tag :branch, options_for_select(@git.branches.local.map(&:name), @branch)
    = submit_tag "Change branch"

.header Commits in #{@branch}

%pre.git_output= @output

%table
  - @commits.each do |commit|
    %tr
      %td= commit.message
      %td= link_to 'github', "https://github.com/dennisschoenmakers/etsource/commit/#{commit.to_s}", :target => :blank
      
      %td= link_to 'IMPORT', import_data_commit_path(:id => commit.to_s)
      %td= commit.date.strftime("%m-%d-%y %H:%M")
      %td= commit.author.name
      %td
        %small{:style => "color: #aaa"}= commit.to_s
