= render 'data/gqueries/subnav'

%h2 GQL Logs

%section#search_box
  = form_tag data_gql_log_path, :method => :get do
    = search_field_tag :filter, params[:filter], :placeholder => 'filter'
    = submit_tag "search"

= button_to 'Clear Log', data_gql_log_path(:reset => 1), :confirm => 'Are you sure?'
= button_to 'Refresh', data_gql_log_path(:reset => false)


%pre= @log_contents