%h2 Search for GQL

= form_tag data_gql_search_path, :method => :get do
  = label_tag "query"
  = text_field_tag :q, @q
  = submit_tag "Search"

- if @q
  Searching for
  %strong= @q
  \: #{pluralize(@gqueries.size + @inputs.size, 'result')}

  %h3
    Inputs: #{pluralize @inputs.size, 'item'},
    GQueries: #{pluralize @gqueries.size, 'item'}

- if @gqueries.any?
  %table
    %thead
      %tr
        %th{:colspan => 3} GQueries
      %tr
        %th Id
        %th Key
        %th Query
    %tbody
      - @gqueries.each do |g|
        %tr
          %td= link_to g.id, data_gquery_path(:id => g.id)
          %td= highlight(g.key, @q)
          %td= highlight(g.query, @q)
- if @inputs.any?
  %table
    %thead
      %tr
        %th{:colspan => 7} Inputs
      %tr
        %th Id
        %th Key
        %th Start
        %th Min
        %th Max
        %th Attr_name
        %th Label Query
    %tbody
      - @inputs.each do |g|
        %tr
          %td= g.id
          %td= highlight(g.key, @q)
          %td= highlight(g.start_value_gql, @q)
          %td= highlight(g.min_value_gql, @q)
          %td= highlight(g.max_value_gql, @q)
          %td= highlight(g.attr_name, @q)
          %td= highlight(g.label_query, @q)
