= render 'data/gqueries/subnav'

%h2 GQL Warnings

%section#search_box
  = form_tag data_gql_warnings_path, :method => :get do
    = search_field_tag :filter, params[:filter], :placeholder => 'filter'
    = submit_tag "search", :class => 'btn'

= button_to 'Clear Log', data_gql_warnings_path(:reset => 1), :confirm => 'Are you sure?', :class => 'btn'
= button_to 'Refresh', data_gql_warnings_path(:reset => false), :class => 'btn'


%pre= @log_contents