= render "inspect/shared/inspect_subnav"

:ruby
  @pre = @converter_present.query
  @fut = @converter_future.query
  converter_key = @converter_present.key.to_s


.row-fluid
  .span12
    .page-header
      %h1
        = converter_key
        = link_to 'Visualize present graph', {:format => 'svg'}, :target => :blank, :class => 'btn btn-small'
        = link_to 'Visualize future graph', {:format => 'svg', :graph => 'future'}, :target => :blank, :class => 'btn btn-small'
      = link_to 'View document', link_to_node_file(@converter_future)

.row-fluid
  .span12
    %h2 Details
    %table.table.table-condensed
      %tbody
        %tr.converter-flows
          %td Flows
          %td
            .energy
              .present
                %span.name Present
                %span.output(title="Output flow")
                  = auto_number converter_flow(@converter_present, :outputs)
                &larr;
                %span.demand(title="Demand")<
                  = auto_number @converter_present.demand
                &larr;
                %span.input(title="Input flow")
                  = auto_number converter_flow(@converter_present, :inputs)
              .future
                %span.name Future
                %span.output(title="Output flow")
                  = auto_number converter_flow(@converter_future, :outputs)
                &larr;
                %span.demand(title="Demand")<
                  = auto_number @converter_future.demand
                &larr;
                %span.input(title="Input flow")
                  = auto_number converter_flow(@converter_future, :inputs)
            - delta = (@converter_future.demand / @converter_present.demand) * 100 - 100
            - if delta.abs > 1e-5
              .delta
                - if delta > 0
                  ⬆
                - else
                  ⬇
                == #{ auto_number(delta) }%
        %tr
          %td Sector
          %td= @converter_present.sector_key
        %tr
          %td Use
          %td= @converter_present.use_key
        = render partial: 'object_attributes', locals: { name: 'Fever (Heat)', object: @converter_future.fever }
        = render partial: 'object_attributes', locals: { name: 'Heat network', object: @converter_future.heat_network }
        = render partial: 'object_attributes', locals: { name: 'Hydrogen', object: @converter_future.hydrogen }
        = render partial: 'object_attributes', locals: { name: 'Merit Order', object: @converter_future.merit_order }
        = render partial: 'object_attributes', locals: { name: 'Storage', object: @converter_future.storage }
        %tr
          %td Converter groups
          %td
            %ol
              - @converter_present.groups.each do |group|
                %li= group
        %tr
          %td Used in Gqueries
          %td
            %ol
              - Gquery.name_or_query_contains(converter_key).sort_by(&:key).each do |gquery|
                %li= link_to gquery.key, inspect_gquery_path(:id => gquery.id)
        %tr
          %td Used in Inputs
          %td
            %ol
              - Input.with_queries_containing(converter_key).sort_by(&:key).each do |input|
                %li= link_to input.key, inspect_input_path(:id => input.id, :highlight => converter_key)

.row-fluid.future-edges
  .span12
    .page-header
      %h2
        Future Input / Outputs
        = link_to 'Show present values'
    = render 'converter_links', c: @converter_future

.row-fluid.present-edges(style="display:none")
  .span12
    .page-header
      %h2
        Present Input / Outputs
        = link_to 'Show future values'
    = render 'converter_links', c: @converter_present

- if @presenter.attributes_and_methods_to_show.any?
  .row-fluid
    .span12
      .page-header
        %h2 Converter Summary
      %table.table.table-condensed
        %thead
          %tr
            %th Method
            %th Label
            %th Present
            %th Future
            %th Unit
        %tbody
          - @presenter.attributes_and_methods_to_show.each_pair do |group, items|
            - next if items.empty?
            %tr
              %th{:colspan => 5}= group
            - items.each_pair do |key, opts|
              %tr
                %td= key
                %td= opts[:label]
                %td
                  - val = @presenter.present_value(key)
                  = opts[:formatter] ? opts[:formatter].call(val) : auto_number(val)
                %td
                  - val = @presenter.future_value(key)
                  = opts[:formatter] ? opts[:formatter].call(val) : auto_number(val)
                %td= opts[:unit]

.row-fluid
  .span6
    .page-header
      %h2 All Attributes
    %table.table.table-condensed
      %thead
        %tr
          %th Converter Attributes
          %th Present
          %th Future
          %th Change
          %th Unit
      %tbody
        - Qernel::ConverterApi::ATTRIBUTE_GROUPS.each do |group, attributes|
          %tr
            %th.attribute_group{:colspan => 5}= group
          - attributes.each do |attr_name, info|
            - desc, unit = info
            %tr
              %th= attr_name
              - result_fields(@pre,@fut,attr_name)
              %td= unit

  .span6
    .page-header
      %h2 All Calculations
    %table.table.table-condensed
      %thead
        %tr
          %th Converter Calculations
          %th Present
          %th Future
          %th Change
          %th Unit
      %tbody
        - @converter_api.calculation_methods.each_pair do |group, methods|
          %tr
            %th.calculation_group{:colspan => 5}= group
          - methods.each_pair do |method, opts|
            - present_value = @pre.instance_eval(method.to_s).to_f rescue nil
            - next if present_value <= 0.0 && opts[:hide_if_zero] rescue nil
            %tr
              %th= link_to method, calculation_debugger_path(@converter_present, method)
              - result_fields(@pre, @fut, method)
              %td= opts[:unit] || Qernel::ConverterApi.unit_for_calculation(method)
    .clear
