= render :partial => "data/carriers/list"

.header
  == ##{@carrier.id}
  = @carrier.key
  = @carrier_data.area.try(:region_code)

= notice_message

= simple_form_for @carrier_data, :url => data_carrier_carrier_data_path(:carrier_id => @carrier.id, :id => @carrier_data.id) do |f|
  - Qernel::Carrier::DATASET_ATTRIBUTES.each do |key|
    = f.input key
  = f.button :submit

= render :partial => "/data/shared/revisions", :locals => {:versioned => @carrier_data}