<!-- invite_basic_user.html.erb -->
<p>Hello <%= @email %>!</p>

<p><%= @inviter_name %> just invited you to collaborate on scenario "<%= @saved_scenario_title %>" of the Energy Transition Model. Here are the details:</p>

<p>If you already have an account at <a href=<%=Settings.etmodel_uri%>>https://energytransitionmodel.com/</a>, please follow <a href=<%=@saved_scenario_link%>> this link to view the scenario </a> and start collaborating!</p>

<p>If you do not yet have an account, click <a href=<%= new_user_registration_url%>> here to sign up</a>.</p>

<p>If you did not expect to receive this invitation, please ignore this email.</p>
