<p>Beste <%= @email %>,</p>

<p><%= @inviter_name %> heeft je uitgenodigd om mee te werken aan het scenario "<%= @saved_scenario_title %>" van het Energy Transition Model. Zie hieronder de detials:</p>

<p>Als je al een account hebt op <a href=<%=Settings.etmodel_uri%>>https://energytransitionmodel.com/</a>, volg dan <a href=<%=@saved_scenario_link%>> deze link om het scenario te bekijken </a> en begin met samenwerken!</p>

<p>Als je nog geen account hebt, volg dan <a href=<%= new_user_registration_url%>> deze link om een account aan te maken </a>.</p>

<p>Als je deze uitnodiging niet verwachtte, negeer dan deze e-mail.</p>
