<!DOCTYPE html>
<html>
<head>
  <title>Invitation Email</title>
  <style>
    p {font-family: Arial, sans-serif; color: #333;}
    p a {color: #007BFF; text-decoration: none;}
    p.light {
      color: #777;
      font-size: 14px;
      margin-bottom: 30px;
    }

    .box-around-image {
      background-color: #4e98e4;
      padding: 10px 10px 5px;
      border-radius: 3px;
      display: block;
      width: 200px
    }
  </style>
</head>
<body>
<p>Hello!</p>

<p>
  <%= @inviter_name %> has just invited you to collaborate on the scenario "<%= @saved_scenario_title %>" of the Energy Transition Model as <%=t("scenario_invitation_mailer.roles.#{@new_role}")%>.
</p>
<p>
  If you already have an account with <a href="<%= Settings.etmodel_uri %>">https://energytransitionmodel.com/</a>, follow <a href="<%= @saved_scenario_link %>">this link to view the scenario</a> and start collaborating!
</p>

<p>
  If you don't have an account yet, click <a href="<%= new_user_registration_url %>">here to register</a>.
</p>

<p class="light">
  If you weren't expecting this invitation, please ignore this email.
</p>
<a class="box-around-image" href="<%= Settings.etmodel_uri %>">
  <%=email_inline_image_tag("logo.png", style: "width: 200px; height: auto")%>
</a>

</body>
</html>
