<!DOCTYPE html>
<html>
<head>
  <title>Uitnodigingsemail</title>
  <style>
    p {font-family: Arial, sans-serif; color: #333;}
    p a {color: #007BFF; text-decoration: none;}
    p.light {
      color: #777;
      font-size: 14px;
      margin-bottom: 30px;
    }

    .box-around-image {
      background-color: #4e98e4;
      padding: 10px 10px 5px;
      border-radius: 3px;
      display: block;
      width: 200px
    }
  </style>
</head>
<body>
<p>Hallo!</p>

<p>
  <%= @inviter_name %> heeft je zojuist uitgenodigd om samen te werken aan het scenario "<%= @saved_scenario_title %>" van het Energietransitiemodel als <%=t("scenario_invitation_mailer.roles.#{@new_role}")%>.
</p>
<p>
  Als je al een account hebt bij <a href="<%= Settings.etmodel_uri %>">https://energytransitionmodel.com/</a>, volg dan <a href="<%= @saved_scenario_link %>">deze link om het scenario te bekijken</a> en begin met samenwerken!
</p>

<p>
  Als je nog geen account hebt, klik dan <a href="<%= new_user_registration_url %>">hier om je aan te melden</a>.
</p>

<p class="light">
  Als je deze uitnodiging niet verwachtte, negeer dan deze e-mail.
</p>
<a class="box-around-image" href="<%= Settings.etmodel_uri %>">
  <%=email_inline_image_tag("logo.png", style: "width: 200px; height: auto")%>
</a>

</body>
</html>
