<p>Beste <%= @email %>,</p>

<p><%= @inviter_name %> heeft je uitgenodigd om mee te werken aan het scenario "<%= @saved_scenario_title %>" van het Energy Transition Model. Zie hieronder de detials:</p>

<p>Scenario-ID: <%= @saved_scenario_id %><br>
Scenario Titel: <%= @saved_scenario_title %></p>

<p>Als je al een account hebt op <a href="https://energytransitionmodel.com/">https://energytransitionmodel.com/</a>, volg dan <a href="https://www.energytransitionmodel.com/saved_scenarios/#{@saved_scenario_id}"> deze link om het scenario te bekijken </a> en begin met samenwerken!</p>

<p>Als je nog geen account hebt, volg dan <a href="https://engine.energytransitionmodel.com/identity/sign_up"> deze link om een account aan te maken </a>.</p>

<p>Als je deze uitnodiging niet verwachtte, negeer dan deze e-mail.</p>
