
= form_for [:data, @gql_test_case] do |f|
  %table
    %tr
      %th
        = f.label :name
      %td= f.text_field :name, :style => "width: 600px"
    %tr
      %th= f.label :settings
      %td
        = f.text_area :settings, :style => "width: 600px; height: 100px"
        %p
          %em e.g.: settings[country]=nl&settings[end_year]=2030

    %tr
      %th= f.label :instruction
      %td
        = link_to "GENERATE Test Suite", "#", :onclick => "load_queries($('#gql_test_case_settings').val(), create_tests)"
        %br
      
        = f.text_area :instruction, :style => "width: 600px; height: 400px"

    %tr
      %th
      %td
        = f.submit


%script
  // create Gquery objects for the gqueries we will test later.
  - Gquery.limit(1500).reject{|g| g.unit == 'converters'}.each do |gquery|
    == var #{gquery.key} = new Gquery({id : '#{gquery.id}', key: '#{gquery.key}'});


:javascript
  // This simply outputs the test cases for all the Gquery Objects
  // It is now called after the JSON request
  function create_tests() {
    var test_suite = "";
    window.gqueries.each(function(gquery) {
      var str = "matches('"+gquery.get('key')+"', "+gquery.get('present_value')+", "+gquery.get('future_value')+",1);\n"
      test_suite = test_suite + str
    })
    $('#gql_test_case_instruction').val(test_suite);
  };
  // Make an API call. When complete runs the test-suites


