<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= I18n.t('user.forgot_password.mail.subject') %></title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      padding: 20px;
    }
    .container {
      max-width: 700px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 8px;
      padding: 40px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .header {
      text-align: center;
      margin-bottom: 30px;
    }
    .btn {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4D99E4;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
    .btn-container {
      text-align: center;
      margin-top: 30px;
    }
    .reset-url {
      margin-top: 20px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="<%= asset_path('inverted_logo.png') %>" alt="Logo" class="logo">
      <h1><%= I18n.t('user.forgot_password.body.header') %></h1>
      <p><%= I18n.t('user.forgot_password.body.message') %></p>
    </div>
    <div class="btn-container">
      <a href="<%= edit_user_password_url(@resource, reset_password_token: @token) %>" class="btn"><%= I18n.t('user.forgot_password.body.button_text') %></a>
    </div>
    <div class="reset-url">
      <p><%= I18n.t('user.forgot_password.body.link_message') %></p>
      <p><%= edit_user_password_url(@resource, reset_password_token: @token) %></p>
      <p><%= I18n.t('user.forgot_password.body.ignore_message') %></p>
      <p><%= I18n.t('user.forgot_password.body.no_change_message') %></p>
    </div>
  </div>
</body>
</html>
