<!-- invite_basic_user.html.erb -->
<p>Hello <%= email %>!</p>

<p><%= @inviter_name %> just invited you to collaborate on scenario "<%= @saved_scenario_title %>" of the Energy Transition Model. Here are the details:</p>

<p>Scenario ID: <%= @saved_scenario_id %><br>
Scenario Title: <%= @saved_scenario_title %></p>

<p>If you already have an account at <a href="https://energytransitionmodel.com/">https://energytransitionmodel.com/</a>, please follow this <a href="https://engine.energytransitionmodel.com/identity/sign_in">link to log in</a> and start collaborating!</p>

<p>If you do not have an account, click here <a href="https://engine.energytransitionmodel.com/identity/sign_up">to sign up</a>.</p>

<p>If you did not expect to receive this invitation, please ignore this email.</p>
