.span14
  - url = @form.new_record? ? input_tool_wizards_path : input_tool_wizard_path(@form)
  = form_for @form, :url => url do |f|
    = f.hidden_field :code
    = render :file => @wizard.form_template_file
    .actions
      = submit_tag 'Save changes', :class => 'btn primary'
      (will save all tabs)

.span2
  = render :file => @wizard.description_template_file


  %a.btn{:data => {:'controls-modal' => "research_dataset_contents", :backdrop => "true"}} Debug
  #research_dataset_contents.modal.hide
    .modal-header
      %a.close{:href => "#"} &times;
      %h3 Debug 
    .modal-body
      - InputTool::SavedWizard.all.inject({}) {|hsh,f| hsh.merge f.code => f.research_data_bucket}.each do |k,h|
        %code= h
    