%h2
  Merit Order

  - if @gql.future_graph.use_merit_order_demands?
    %span.badge.badge-success ON
  - else
    %span.badge.badge-important OFF

.alert

- graph = @gql.future_graph

%h2 Dispatchables
%table.table
  %tr
    %th Key
    %th Demand
    %th MO Pos.
    %th Full Load Hours
    %th Cap. Factor

  - merit_order_nodes(graph, :dispatchable).each do |node|
    %tr
      %td= node.key
      %td= number_with_delimiter(node.demand)
      %td= node[:merit_order_position]
      %td= number_with_delimiter(node.query.full_load_hours)
      %td= node[:capacity_factor]

%h2 Must Run
%table.table
  %tr
    %th Key
    %th Demand
    %th MO Pos.
    %th Full Load Hours
    %th Cap. Factor

  - merit_order_nodes(graph, :must_run).each do |node|
    %tr
      %td= node.key
      %td= number_with_delimiter(node.demand)
      %td= node[:merit_order_position]
      %td= number_with_delimiter(node.query.full_load_hours)
      %td= node[:capacity_factor]
