%h2
  Merit Order

  - if @gql.future_graph.use_merit_order_demands?
    %span.badge.badge-success ON
  - else
    %span.badge.badge-important OFF

.alert

- graph = @gql.future_graph

%h2 Dispatchables
%table.table
  %tr
    %th Key
    %th Demand
    %th MO Pos.
    %th Full Load Hours
    %th Cap. Factor

  - merit_order_converters(graph, :dispatchable).each do |converter|
    %tr
      %td= converter.key
      %td= number_with_delimiter(converter.demand)
      %td= converter[:merit_order_position]
      %td= number_with_delimiter(converter.query.full_load_hours)
      %td= converter[:capacity_factor]

%h2 Must Run
%table.table
  %tr
    %th Key
    %th Demand
    %th MO Pos.
    %th Full Load Hours
    %th Cap. Factor

  - merit_order_converters(graph, :must_run).each do |converter|
    %tr
      %td= converter.key
      %td= number_with_delimiter(converter.demand)
      %td= converter[:merit_order_position]
      %td= number_with_delimiter(converter.query.full_load_hours)
      %td= converter[:capacity_factor]
