#instructions
  %ul
    %li.form
      %h6 Node attributes
      = graphviz_attribute_selector
    %li.form
      %h6 Toggle sectors
      = graphviz_toggle_sectors
    %li.edges
      %ul
        %li= link_to 'Deselect all', 'javascript:GRAPH.deselect_all()'
        %li= link_to 'Highlight off', 'javascript:GRAPH.highlight_off_all()'
    %li.help
      %details
        %summary Help
        %ul
          %li ALT + click to select/deselect multiple nodes
          %li Shift + click: highlight edges
          %li ALT + Shift + click: hide node
          %li Double-click on node to open details in new node
          %li Search for nodes by name using Ctrl/Cmd+F.
    - if show_actions
      %li.actions
        %ul
          %li= link_to 'Save', 'javascript:save_changes()'
          %li= link_to 'Save and download YAML', 'javascript:update_and_download()'
