!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title
      EnergyTransitionModel

    = javascript_include_tag :defaults
    = sprocket_layout_init :admin
    = sprocket_layout_init :testcases

    = stylesheet_link_tag 'all'
    = stylesheet_link_tag 'jasmine'
    = stylesheet_link_tag 'vendor/formtastic', 'formtastic_changes', 'admin'
    
    /
      [if lt IE 8]><link rel="stylesheet" type="text/css" href="/stylesheets/ie.css" /><![endif]
      [if lt IE 8]><link rel="stylesheet" type="text/css" href="/stylesheets/ie.slider.css" /><![endif]

  %body#model
    #header
      #nav
        - tabs_tag do |t|
          = t.data            "Data",         data_start_path
          = t.graphs          "Graphs",       admin_graphs_path
          = t.query_tables    "Query Tables", admin_query_tables_path
          = t.historic_series "Historic",     admin_historic_series_path
          = t.blueprints      "Blueprints",   admin_blueprints_path
          = t.converters      "Converters",   admin_converters_path
        .clear
    #wrapper
      #content
        - flash_message
        = yield
