!!! 5
%html{:lang => 'en'}
  %head
    %title
      - if @api_scenario && @api_scenario.title.present?
        = @api_scenario.title
        \-
      - if content_for?(:title)
        = content_for(:title)
        \-
      EnergyTransitionModel
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'

  %body#data
    .navbar.navbar-inverse
      .navbar-inner
        .container
          - if content_for?(:navbar)
            = content_for :navbar
          - else
            %a.brand{:href => safe_inspect_path}
              ETEngine
              - if Rails.env.production?
                %span.server.production Production
              - elsif Rails.env.staging?
                %span.server.beta Beta
              - else
                %span.server.local Local

            - if current_user
              %ul.nav
                %li= link_to 'ETSource',  etsource_commits_path

                - if params[:api_scenario_id]
                  = render partial: 'header_menus_with_scenario'
                - else
                  = render partial: 'header_menus_without_scenario'
                %li.dropdown
                  %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
                    Misc
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to 'Users',     users_path
                    %li= link_to 'Turk',      mechanical_turk_root_path

              %ul.nav.pull-right
                - if params[:api_scenario_id]
                  %li
                    %form.form-inline.navbar-search{:action => inspect_search_path, :method => :get}
                      %input.search-query.typeahead{:name => 'search', :placeholder => "Search", :autocomplete => 'off'}

                  %li.divider-vertical
                  %li
                    %form#api_scenario_selector.navbar-form.form.form-inline{:action => inspect_redirect_path, :method => :get}
                      - opts = Scenario.recent.map{ |as| [as.identifier, as.id] }
                      = select_tag :api_scenario_id, options_for_select(opts, params[:api_scenario_id]), :class => 'span2'
                  %li
                    %form#area_code_selector.navbar-form.form.form-inline{:action => '#', :method => :get}
                      = select_tag 'area_code', grouped_options_for_select(grouped_region_options), :prompt => "New scenario:", :class => 'span1'

                %li.divider-vertical
                %li
                  = link_to "Logout", destroy_user_session_path, :class => 'pull-right', :title => "Logged in as #{current_user.email}", :rel => 'tooltip', 'data-placement' => 'bottom', :method => :delete
            - else
              %ul.nav
                %li= link_to 'login', new_user_session_path


    .subnav.subnav-fixed= yield :subnav

    .container-fluid
      - if flash.any?
        #flash
          - flash.each do |type, msg|
            .alert{:class => type}
              %a.close x
              %p= msg

      #content= yield
      #footer
        = yield :footer
    - unless APP_CONFIG[:standalone]
      = render "layouts/ga" if Rails.env.production?

:javascript
  $('[rel=tooltip]').tooltip();
  $('.typeahead').typeahead({
    source: #{search_keys_json.html_safe},
    items: 15,
    matcher: function(item) { return item.match(new RegExp(this.query.replace(/_/g, '._').replace(/\./g, '.*'))) != null }
  }).change( function() { this.form.submit(); });

