!!! 5
%html{:lang => 'en'}
  %head
    %title EnergyTransitionModel
    = javascript_include_tag 'application'
    = javascript_include_tag '/data/latest/search.js'

    = stylesheet_link_tag 'bootstrap_setup'
    = stylesheet_link_tag 'bootstrap-styles'

  %body#data
    .navbar
      .navbar-inner
        .container
          - if content_for?(:navbar)
            = content_for :navbar
          - else
            %a.brand{:href => etsource_root_path} ET-Engine
            - if current_user
              - url_params = {api_scenario_id: params.fetch(:api_scenario_id, 'latest')}
              %ul.nav
                %li= link_to 'ETsource',  etsource_commits_path
                %li= link_to 'Debug',     data_debug_gql_path(url_params)
                %li= link_to 'Turk',      mechanical_turk_root_path
                %li= link_to 'GQL',       test_data_gqueries_path(url_params)            
                %li= link_to 'Gqueries',  data_gqueries_path(url_params)
                %li.dropdown
                  %a.dropdown-toggle{:href => '#', 'data-toggle' => 'dropdown'}
                    Data
                    %b.carret
                  %ul.dropdown-menu
                    %li= link_to 'Converters',     data_converters_path(url_params)
                    %li= link_to 'Carriers',       data_carriers_path(url_params)
                    %li= link_to 'Area',           data_area_path(url_params)
                    %li= link_to 'Balance Groups', data_energy_balance_groups_path(url_params)
                    %li= link_to 'Layouts',        data_blueprint_layouts_path(url_params)
                    %li= link_to "Checks", :controller => 'data/checks', :action => 'expected_demand'
                    %li= link_to "Inputs",         data_inputs_path(url_params)
                    %li= link_to "Scenarios",      data_scenarios_path(url_params)
                %li.divider-vertical
                %li
                  %form.form-inline.navbar-search{:action => data_search_path(url_params), :method => :get}
                    %input.search-query.span3.typeahead{:name => 'search', :placeholder => "Search", :rel => 'tooltip', :title => "Converter and Gquery keys. Use dots and underscores to shorten search.", 'data-placement' => 'right', 'data-trigger' => 'hover', 'data-delay' => 500}
                %li.divider-vertical
                - if params[:api_scenario_id]
                  %li
                    %form#api_scenario_selector.navbar-search.form.form-inline{:action => data_redirect_path(url_params), :method => :get}
                      - opts = [["Current - ##{@gql.scenario.id rescue 'error'}", 'latest'], *Scenario.recent.map{|as| [as.identifier, as.id]}]
                      = select_tag :api_scenario_id, options_for_select(opts, params[:api_scenario_id]), :class => 'span2'
                  %li.divider-vertical
                  %li
                    %form#area_code_selector.navbar-search.form.form-inline{:action => '#', :method => :get}
                      - opts = Etsource::Dataset.region_codes
                      = select_tag 'area_code', options_for_select(opts), :prompt => "New scenario:", :class => 'span1'
              %ul.nav.pull-right
                %li
                  = link_to "Logout", logout_path, :class => 'pull-right', :title => "Logged in as #{current_user.email}", :rel => 'tooltip', 'data-placement' => 'bottom'
            - else
              %ul.nav
                %li= link_to 'login', login_path
      

    .subnav.subnav-fixed
      = yield :subnav

    .container-fluid
      -# if breadcrumbs.any?
        #breadcrumbs
          %ul.breadcrumb
            - breadcrumbs.each do |breadcrumb| 
              %li
                = link_to breadcrumb, '#'
                %span.divider 
      #flash
        - flash.each do |type,msg|
          .alert-message{:class => type}
            %a.close x
            %p= msg

        - if live_server?
          .alert-message.error This is the production server!

      #content= yield
      #footer
        = yield :footer
    - unless APP_CONFIG[:standalone]
      = render "layouts/ga" if Rails.env.production?

:javascript
  $('[rel=tooltip]').tooltip();
  $('.typeahead').typeahead({
    source: search_keys, 
    items: 15, 
    matcher: function(item) { return item.match(new RegExp(this.query.replace(/_/g, '._').replace(/\./g, '.*'))) != null }
  }).change( function() { this.form.submit(); });

