!!! 5
%html{:lang => 'en'}
  %head
    %title
      - if @api_scenario && @api_scenario.title.present?
        = @api_scenario.title
        \-
      - if content_for?(:title)
        = content_for(:title)
        \-
      EnergyTransitionModel
    = csrf_meta_tag
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    = javascript_importmap_tags 'inspect'

  %body#data
    .navbar.navbar-inverse
      .navbar-inner
        .container
          - if content_for?(:navbar)
            = content_for :navbar
          - else
            %a.brand{ href: safe_inspect_path }
              ETEngine
              - if Rails.env.production?
                %span.server.production Production
              - elsif Rails.env.staging?
                %span.server.beta Beta
              - else
                %span.server.local Local

            - if current_user
              %ul.nav
                %li.dropdown
                  %a.dropdown-toggle{ href: '#', data: { toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' } }
                    %span= "##{Settings.version_tag}"
                    %b.caret
                  %ul.dropdown-menu{ aria: { labelledby: 'version-button' } }
                    %li{ style: 'margin-bottom:1rem; margin-left:1rem;' }= t('versions.switch')
                    - MyEtm::Version.all_other_versions.each do |version|
                      %li
                        = link_to "##{version.tag}", version.engine_url

                %li
                  = link_to 'ETSource', etsource_commits_path

                - if params[:api_scenario_id]
                  = render partial: 'header_menus_with_scenario'
                - else
                  = render partial: 'header_menus_without_scenario'

                %li
                  = link_to 'Turk', mechanical_turk_root_path

              %ul.nav.pull-right
                - if params[:api_scenario_id]
                  %li
                    %form.form-inline.navbar-search{ action: inspect_search_path, method: :get }
                      %input.search-query.typeahead{ name: 'search', placeholder: "Search", autocomplete: 'off' }

                  %li.divider-vertical
                  %li
                    %form#api_scenario_selector.navbar-form.form-inline{ action: inspect_redirect_path, method: :get }
                      - opts = Scenario.recent.map { |as| [as.identifier, as.id] }
                      = select_tag :api_scenario_id, options_for_select(opts, params[:api_scenario_id]), class: 'span2'

                  %li.divider-vertical
                  %li
                    %form#area_code_selector.navbar-form.form-inline{ action: '#', method: :get }
                      = select_tag 'area_code', grouped_options_for_select(grouped_region_options), prompt: "New scenario:", class: 'span1'

                %li.divider-vertical
                %li
                  = link_to my_etm_path("identity/profile"), class: 'compact-link' do
                    = inline_svg 'hero/20/user-circle.svg', aria_label: 'My profile'

                %li.divider-vertical
                %li{ style: 'margin-right: -12px' }
                  = link_to sign_out_path, method: :get, class: 'compact-link' do
                    = inline_svg 'phosphor/20/sign-out.svg', aria_label: 'Sign out'

            - else
              %ul.nav
                %li
                  = link_to sign_in_path, method: :get, class: 'compact-link' do
                    = inline_svg 'phosphor/20/sign-out.svg', aria_label: 'Sign In'

    .subnav.subnav-fixed= yield :subnav

    .container-fluid
      - if notice.present?
        .alert.notice= notice_message
      - if alert.present?
        .alert.alert= alert_message

      #content= yield
      #footer
        = yield :footer
    - unless Settings.standalone
      = render "layouts/ga" if Rails.env.production?

    :javascript
      $('[rel=tooltip]').tooltip();
      $('.typeahead').typeahead({
        source: #{search_keys_json.html_safe},
        items: 15,
        matcher: function(item) { return item.match(new RegExp(this.query.replace(/_/g, '._').replace(/\./g, '.*'))) != null }
      }).change( function() { this.form.submit(); });
