!!! 5
%html{:lang => 'en'}
  %head
    %title EnergyTransitionModel
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'bootstrap_setup'
  %body#data
    .navbar
      .navbar-inner
        .container-fluid
          - if content_for?(:navbar)
            = content_for :navbar
          - else
            %a.brand{:href => etsource_root_path} ET-Engine
            %ul.nav
              - if current_user
                %li= link_to 'data', data_root_path(api_scenario_id: 'latest')
                %li= link_to 'etsource', etsource_root_path
                %li= link_to 'mech.turk', mechanical_turk_root_path
                %li= link_to 'logout', logout_path
                %li= link_to 'users', users_path
              - else
                %li= link_to 'login', login_path
            - if current_user
              %p.pull-right== Logged in as #{current_user.email}
    .container-fluid
      #subnav
        = yield :subnav
      - if breadcrumbs.any?
        #breadcrumbs
          %ul.breadcrumb
            - breadcrumbs.each do |breadcrumb| 
              %li
                = link_to breadcrumb, '#'
                %span.divider 
      #flash
        - flash.each do |type,msg|
          .alert-message{:class => type}
            %a.close x
            %p= msg
        - if live_server?
          .alert-message.error This is the production server!
      #content= yield
      #footer
        = yield :footer
    - unless APP_CONFIG[:standalone]
      = render "layouts/ga" if Rails.env.production?
