!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{ :name => "ROBOTS", :content => "NOINDEX, NOFOLLOW" }/
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{:description => "#{t('meta.description')}" }
    %title= t("meta.title")
    = stylesheet_link_tag 'application'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie'

  %body
    #header
      %h1 ET-Engine
    #menu
      - if current_user
        = link_to 'data', '/data'
        = link_to 'logout', logout_path
        = link_to 'converters', converters_path
      - else
        = link_to 'login', login_path
    #flash
      - flash.each do |k,msg|
        .flash{:class => k}= msg
    #content
      = yield
