!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title EnergyTransitionModel
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
  %body#data
    #container
      - if live_server?
        .live_server_notice This is the production server!
      #header
        %nav
          %ul
            %li
              = current_user.email
              \-
              = link_to "Logout", logout_path
        = render 'data/shared/graph_picker'
      #subheader
        %nav
          = link_to 'Dashboard', data_root_path
          = link_to 'Area', data_area_path
          = link_to 'Balance Groups', data_energy_balance_groups_path
          = link_to 'Layouts', data_blueprint_layouts_path
          = link_to 'Carriers', data_carriers_path
          = link_to 'Converters', data_converters_path
          = link_to 'Gqueries', data_gqueries_path
          = link_to 'GQL', test_data_gqueries_path
          = link_to "ETSource", etsource_root_path
          = link_to "Checks", :controller => 'data/checks', :action => 'expected_demand'
          = link_to "Inputs", data_inputs_path
          = link_to "Scenarios", data_scenarios_path
      #subnav
        = yield :subnav
      - if breadcrumbs.any?
        #breadcrumbs
          %nav
            = breadcrumbs.map{|x| content_tag(:span, x)}.join(" &raquo; ").html_safe
      #flash
        - flash.each do |k,msg|
          .flash{:class => k}= msg

      #content= yield
      #footer
        = yield :footer
