!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title EnergyTransitionModel
      
    = javascript_include_tag :defaults
    = javascript_include_tag 'underscore.min'
    = sprocket_layout_init :admin
    = sprocket_layout_init :testcases

    = stylesheet_link_tag 'data'
    = stylesheet_link_tag 'vendor/smoothness/jquery-ui-1.8.16.custom'

  %body#data
    #container
      #header
        %nav
          %ul
            %li
              = current_user.email
              \-
              = link_to "Logout", logout_path
        = form_tag(data_redirect_path, {:method => 'get'}) do
          = label_tag 'Session'
          - opts = [["Current - ##{Current.scenario.id}", 'latest'], *ApiScenario.recent.map{|as| [as.identifier, as.id]}]
          = select_tag :blueprint_id, options_for_select(opts, params[:blueprint_id]), :onchange => 'submit()'
          = label_tag 'Region'
          = select_tag :region_code, options_for_select(Area.region_codes, params[:region_code]), :onchange => 'submit()'
      #subheader
        %nav
          %ul
            %li= link_to 'Dashboard', data_root_path
            %li= link_to 'Area', data_areas_path
            %li= link_to 'Balance Groups', data_energy_balance_groups_path
            %li= link_to "Blueprints", data_blueprints_path
            %li= link_to 'Carriers', data_carriers_path
            %li= link_to 'Converters', data_converters_path
            %li= link_to 'FCE', data_fce_values_path
            %li= link_to 'Gqueries', data_gqueries_path
            %li= link_to "GQL Search", data_gql_search_path
            %li= link_to 'Graph', data_blueprint_layouts_path
            %li= link_to "Graphs (admin)", data_graphs_path
            %li= link_to "Historic Series", data_historic_series_path
            %li= link_to "Inputs", data_inputs_path
            %li= link_to "Kick", {:controller => "/data", :action => "kick"}, :confirm =>"This will drop the sessions for ALL users! Please be patient, server restarts takes 30secs. Are you sure?"
            %li= link_to "Query Tables", data_query_tables_path
      - if breadcrumbs.any?
        #breadcrumbs
          %nav
            = breadcrumbs.map{|x| content_tag(:span, x)}.join(" &raquo; ").html_safe
      #content= yield
      #footer
