!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title EnergyTransitionModel
      
    = javascript_include_tag :defaults
    = javascript_include_tag 'underscore.min'
    = sprocket_layout_init :admin
    = sprocket_layout_init :testcases

    = stylesheet_link_tag 'data'
    = stylesheet_link_tag 'vendor/smoothness/jquery-ui-1.8.16.custom'

  %body#data
    #container
      #header
        %nav
          %ul
            %li
              = current_user.email
              \-
              = link_to "Logout", logout_path
        = render 'data/shared/graph_picker'
      #subheader
        %nav
          = link_to 'Dashboard', data_root_path
          = link_to 'Area', data_areas_path
          = link_to 'Balance Groups', data_energy_balance_groups_path
          = link_to 'Blueprints', data_blueprints_path
          = link_to 'Layouts', data_blueprint_layouts_path
          = link_to 'Carriers', data_carriers_path
          = link_to 'Converters', data_converters_path
          = link_to 'FCE', data_fce_values_path
          = link_to 'Gqueries', data_gqueries_path
          = link_to "GQL Search", data_gql_search_path
          = link_to "ETSource", data_commits_path
          = link_to "Test Cases", data_gql_test_cases_path
          = link_to 'Graphs', data_graphs_path
          = link_to "Historic Series", data_historic_series_path
          = link_to "Inputs", data_inputs_path
          = link_to "Query Tables", data_query_tables_path
      - if breadcrumbs.any?
        #breadcrumbs
          %nav
            = breadcrumbs.map{|x| content_tag(:span, x)}.join(" &raquo; ").html_safe
      #flash
        - flash.each do |k,msg|
          .flash{:class => k}= msg
      
      #content= yield
      #footer
        = yield :footer
