!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %title EnergyTransitionModel
      
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application', 'bootstrap'

  %body#data
    .topbar
      .topbar-inner
        .container-fluid
          %a.brand{:href => "/input_tool"} InputTool
          %ul.nav
            
            %li.dropdown{'data-dropdown' => 'dropdown'}
              = link_to 'Forms', "#", :class => 'dropdown-toggle'
              %ul.dropdown-menu
                %li= link_to 'Overview', input_tool_wizards_path
                %li.divider
                - @saved_wizards = InputTool::SavedWizard.all
                - @saved_wizards.each do |form|
                  %li= link_to form.code, edit_input_tool_wizard_path(:id => form)
                
                - (Etsource::Wizard.codes - @saved_wizards.map(&:code)).each do |code|
                  %li= link_to code, new_input_tool_wizard_path(:code => code)
            
            %li= link_to '/data', '/data/latest'
            %li= link_to "Logout", logout_path
          %p.pull-right== Logged in as #{current_user.email}


    .container-fluid
      #subnav
        = yield :subnav

      - if breadcrumbs.any?
        #breadcrumbs
          %ul.breadcrumb
            - breadcrumbs.each do |breadcrumb| 
              %li
                = link_to breadcrumb, '#'
                %span.divider 
      
      #flash
        - flash.each do |type,msg|
          .alert-message{:class => type}
            %a.close x
            %p= msg
              

      
      #content= yield
      #footer
        = yield :footer
