!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{ :name => "ROBOTS", :content => "NOINDEX, NOFOLLOW" }/

    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{:description => "#{t('meta.description')}" }
    %title= t("meta.title")
    = stylesheet_link_tag 'all'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie'
    = sprocket_layout_init :pages

  %body
    #flash
      - flash.each do |k,msg|
        .flash{:class => k}= msg
    #content
      = yield
