%h2 Create a new Graph by copying from an old one.
= link_to "Create a new Graph", new_data_graph_path

%h2 Upload Zipfile
- form_tag '/data/graphs/import', :multipart => true do

  %p
    version
    = text_field_tag :version
  %p
    Description
    = text_area_tag :description
  %p
    zip_file
    = file_field_tag :zip_file
  %p= submit_tag 'upload and import'

%table{table_defaults}
  %thead
    %tr
      %th Id
      %th.tal Country
      %th Blueprint
      %th Dataset
      %th.tal Version
      %th.tal Description
      %th.tal Created
      %th.tal

  - @graphs.each do |graph|
    %tr{cycles}
      %td= graph.id
      %td
        = image_tag "icons/#{graph.country}.png" if graph.country and graph.country.length == 2
        = graph.country
      %td= link_to graph.blueprint.id, data_blueprint_path(:id => graph.blueprint.id)
      %td= link_to graph.dataset.id, '#'
      %td= link_to graph.version, data_graph_path(:id => graph.id)
      %td= link_to graph.description, data_graph_path(:id => graph.id)
      %td= graph.created_at
      %td= link_to 'Delete', data_graph_path(:id => graph.id), :method => :delete, :confirm => 'Are you sure'
